/* Grid
------------------------------------------------------ */

.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
	display: table;
	content: " ";
}
.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
	clear: both;
}
.fl-row,
.fl-row-content,
.fl-col-group,
.fl-col,
.fl-module,
.fl-module-content {
	zoom:1;
}
.fl-clear {
	clear: both;
}

/* Utilities
------------------------------------------------------ */

.fl-clearfix:before,
.fl-clearfix:after {
	display: table;
	content: " ";
}
.fl-clearfix:after {
	clear: both;
}
.fl-clearfix {
	zoom:1;
}

/* Responsive Utilities
------------------------------------------------------ */

.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}

/* Rows
------------------------------------------------------ */

.fl-row,
.fl-row-content {
	margin-left: auto;
	margin-right: auto;
}
.fl-row-content-wrap {
	position: relative;
}

/* Photo Bg */
.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
	background-attachment: scroll;
}

/* Video Bg */
.fl-row-bg-video,
.fl-row-bg-video .fl-row-content {
	position: relative;
}
.fl-row-bg-video .fl-bg-video {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.fl-row-bg-video .fl-bg-video video {
	bottom: 0;
	left: 0px;
	max-width: none;
	position: absolute;
	right: 0;
	top: 0px;
}
.fl-row-bg-video .fl-bg-video iframe {
	pointer-events: none;
	width: 100vw;
  	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  	max-width: none;
  	min-height: 100vh;
  	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}
.fl-bg-video-fallback {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Slideshow Bg */
.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
	position: relative;
}
.fl-row .fl-bg-slideshow {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.fl-builder-edit .fl-row .fl-bg-slideshow * {
	bottom: 0;
	height: auto !important;
	left: 0;
	position: absolute !important;
	right: 0;
	top: 0;
}

/* Row Bg Overlay */
.fl-row-bg-overlay .fl-row-content-wrap:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-row-bg-overlay .fl-row-content {
	position: relative;
	z-index: 1;
}

/* Full Height Rows */
.fl-row-full-height .fl-row-content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;

}
.fl-builder-edit .fl-row-full-height .fl-row-content-wrap {
	min-height: calc( 100vh - 48px );
}
.fl-row-full-height .fl-row-content {
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-row-full-height .fl-row-full-width.fl-row-content {
	max-width: 100%;
	width: 100%;
}

/* IE 11 - Row full height - vertical alignment center/bottom fix */
.fl-builder-ie-11 .fl-row.fl-row-full-height:not(.fl-visible-medium):not(.fl-visible-medium-mobile):not(.fl-visible-mobile) {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* Stupid IE Full Height Row Fixes */
.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap {
	height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content {
	flex: 0 0 auto;
	flex-basis: 100%;
	margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align center */
.fl-row-full-height.fl-row-align-center .fl-row-content-wrap {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Full height align bottom */
.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap {
	align-items: flex-end;
	justify-content: flex-end;
	-webkit-align-items: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-align: end;
	-ms-flex-pack: end;
}

/* IE 11 - height bottom > row align bottom - center fix */
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap {
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

/* Full height iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .fl-row-full-height .fl-row-content-wrap{
    min-height: 1024px;
  }
}

/* Full height iPad with landscape orientation. */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape){
  .fl-row-full-height .fl-row-content-wrap{
    min-height: 768px;
  }
}

/* Full height iPhone 5. You can also target devices with aspect ratio. */
@media screen and (device-aspect-ratio: 40/71) {
  .fl-row-full-height .fl-row-content-wrap {
    min-height: 500px;
  }
}

/* Column Groups
------------------------------------------------------ */

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.fl-col-group-equal-height{
    -webkit-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
}
.fl-col-group-equal-height.fl-col-group-has-child-loading {
    -webkit-flex-wrap: nowrap;
    	-ms-flex-wrap: nowrap;
    		flex-wrap: nowrap;
}
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content{
  -webkit-box-flex: 1 1 auto;
  	 -moz-box-flex: 1 1 auto;
  	  -webkit-flex: 1 1 auto;
  		  -ms-flex: 1 1 auto;
  			  flex: 1 1 auto;
}
.fl-col-group-equal-height .fl-col-content{
	    -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
			   flex-shrink: 1;
			     min-width: 1px;
            	 max-width: 100%;
            	 	 width: 100%;
}
.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after{
	content: none;
}

/* Equal height align center */
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
}

/* Equal height align bottom */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	width: 100%;
}

/* IE11 fix for images with height:auto in equal height columns. */
.fl-builder-ie-11 .fl-col-group-equal-height,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-col-content,
.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
	min-height: 1px;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	float: left;
	min-height: 1px;
}

/* Column Bg Overlay */
.fl-col-bg-overlay .fl-col-content {
	position: relative;
}
.fl-col-bg-overlay .fl-col-content:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.fl-col-bg-overlay .fl-module {
	position: relative;
	z-index: 2;
}

/* Modules
------------------------------------------------------ */

.fl-module img {
	max-width: 100%;
}

/* Module Templates
------------------------------------------------------ */

.fl-builder-module-template {
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px;
}

/* Buttons
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 12px 24px;
	text-decoration: none;
	text-shadow: none;
}
.fl-builder-content .fl-button:hover {
	text-decoration: none;
}
.fl-builder-content .fl-button:active {
	position: relative;
	top: 1px;
}
.fl-builder-content .fl-button-width-full .fl-button {
	display: block;
	text-align: center;
}
.fl-builder-content .fl-button-width-custom .fl-button {
	display: inline-block;
	text-align: center;
	max-width: 100%;
}
.fl-builder-content .fl-button-left {
	text-align: left;
}
.fl-builder-content .fl-button-center {
	text-align: center;
}
.fl-builder-content .fl-button-right {
	text-align: right;
}
.fl-builder-content .fl-button i {
	font-size: 1.3em;
	height: auto;
	margin-right:8px;
	vertical-align: middle;
	width: auto;
}
.fl-builder-content .fl-button i.fl-button-icon-after {
	margin-left: 8px;
	margin-right: 0;
}
.fl-builder-content .fl-button-has-icon .fl-button-text {
	vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.fl-icon-wrap {
	display: inline-block;
}
.fl-icon {
	display: table-cell;
	vertical-align: middle;
}
.fl-icon a {
	text-decoration: none;
}
.fl-icon i {
	float: left;
}
.fl-icon i:before {
	border: none !important;
}
.fl-icon-text {
	display: table-cell;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}
.fl-icon-text *:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
.fl-icon-text a {
	text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.fl-photo {
	line-height: 0;
	position: relative;
}
.fl-photo-align-left {
	text-align: left;
}
.fl-photo-align-center {
	text-align: center;
}
.fl-photo-align-right {
	text-align: right;
}
.fl-photo-content {
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.fl-photo-img-svg {
	width: 100%;
}
.fl-photo-content img {
	display: inline;
	height: auto;
	max-width: 100%;
}
.fl-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-photo-caption {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fl-photo-caption-below {
	padding-bottom: 20px;
	padding-top: 10px;
}
.fl-photo-caption-hover {
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	padding: 10px 15px;
	position: absolute;
	right: 0;
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
	transition:opacity 0.3s ease-in;
}
.fl-photo-content:hover .fl-photo-caption-hover {
	opacity: 100;
	filter: alpha(opacity = 100);
}

/* Pagination
------------------------------------------------------ */

.fl-builder-pagination,
.fl-builder-pagination-load-more {
	padding: 40px 0;
}
.fl-builder-pagination ul.page-numbers {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.fl-builder-pagination li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
	border: 1px solid #e6e6e6;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 0 5px;
}
.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
	background: #f5f5f5;
	text-decoration: none;
}

/* Slideshows
------------------------------------------------------ */

.fl-slideshow,
.fl-slideshow * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;

}
.fl-slideshow .fl-slideshow-image img {
	max-width: none !important;
}
.fl-slideshow-social {
	line-height: 0 !important;
}
.fl-slideshow-social * {
	margin: 0 !important;
}

/* Sliders
------------------------------------------------------ */

.fl-builder-content .bx-wrapper .bx-viewport {
	background: transparent;
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	left: 0;
}

/* Lightbox
------------------------------------------------------ */

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active,
.mfp-wrap button.mfp-arrow:hover,
.mfp-wrap button.mfp-arrow:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 50%;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
	background: transparent !important;
	border: none !important;
	outline: none;
	position: absolute;
	top: 0;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
	top: 32px!important;
}
img.mfp-img {
	padding: 0;
}
.mfp-counter {
	display: none;
}

.mfp-wrap .mfp-preloader.fa {
	font-size: 30px;
}

/* Form Fields
------------------------------------------------------ */

.fl-form-field {
	margin-bottom: 15px;
}
.fl-form-field input.fl-form-error {
	border-color: #DD6420;
}
.fl-form-error-message {
	clear: both;
	color: #DD6420;
	display: none;
	padding-top: 8px;
	font-size: 12px;
	font-weight: lighter;
}
.fl-form-button-disabled {
	opacity: 0.5;
}

/* Animations
------------------------------------------------------ */

.fl-animation {
	opacity: 0;
}
.fl-builder-mobile .fl-animation,
.fl-builder-edit .fl-animation,
.fl-builder-preview .fl-animation,
.fl-animated {
	opacity: 1;
}

/* Fade In */
.fl-animated.fl-fade-in {
	animation: fl-fade-in 1s ease-out;
	-webkit-animation: fl-fade-in 1s ease-out;
	-moz-animation: fl-fade-in 1s ease-out;
}
@keyframes fl-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes fl-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes fl-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* Slide Left */
.fl-animated.fl-slide-left {
	animation: fl-slide-left 1s ease-out;
	-webkit-animation: fl-slide-left 1s ease-out;
	-moz-animation: fl-slide-left 1s ease-out;
}
@keyframes fl-slide-left {
	0% { opacity: 0; transform: translateX(10%); }
	100% { opacity: 1; transform: translateX(0%); }
}
@-webkit-keyframes fl-slide-left {
	0% { opacity: 0; -webkit-transform: translateX(10%); }
	100% { opacity: 1; -webkit-transform: translateX(0%); }
}
@-moz-keyframes fl-slide-left {
	0% { opacity: 0; -moz-transform: translateX(10%); }
	100% { opacity: 1; -moz-transform: translateX(0%); }
}

/* Slide Right */
.fl-animated.fl-slide-right {
	animation: fl-slide-right 1s ease-out;
	-webkit-animation: fl-slide-right 1s ease-out;
	-moz-animation: fl-slide-right 1s ease-out;
}
@keyframes fl-slide-right {
	0% { opacity: 0; transform: translateX(-10%); }
	100% { opacity: 1; transform: translateX(0%); }
}
@-webkit-keyframes fl-slide-right {
	0% { opacity: 0; -webkit-transform: translateX(-10%); }
	100% { opacity: 1; -webkit-transform: translateX(0%); }
}
@-moz-keyframes fl-slide-right {
	0% { opacity: 0; -moz-transform: translateX(-10%); }
	100% { opacity: 1; -moz-transform: translateX(0%); }
}

/* Slide Up */
.fl-animated.fl-slide-up {
	animation: fl-slide-up 1s ease-out;
	-webkit-animation: fl-slide-up 1s ease-out;
	-moz-animation: fl-slide-up 1s ease-out;
}
@keyframes fl-slide-up {
	0% { opacity: 0; transform: translateY(10%); }
	100% { opacity: 1; transform: translateY(0%); }
}
@-webkit-keyframes fl-slide-up {
	0% { opacity: 0; -webkit-transform: translateY(10%); }
	100% { opacity: 1; -webkit-transform: translateY(0%); }
}
@-moz-keyframes fl-slide-up {
	0% { opacity: 0; -moz-transform: translateY(10%); }
	100% { opacity: 1; -moz-transform: translateY(0%); }
}

/* Slide Down */
.fl-animated.fl-slide-down {
	animation: fl-slide-down 1s ease-out;
	-webkit-animation: fl-slide-down 1s ease-out;
	-moz-animation: fl-slide-down 1s ease-out;
}
@keyframes fl-slide-down {
	0% { opacity: 0; transform: translateY(-10%); }
	100% { opacity: 1; transform: translateY(0%); }
}
@-webkit-keyframes fl-slide-down {
	0% { opacity: 0; -webkit-transform: translateY(-10%); }
	100% { opacity: 1; -webkit-transform: translateY(0%); }
}
@-moz-keyframes fl-slide-down {
	0% { opacity: 0; -moz-transform: translateY(-10%); }
	100% { opacity: 1; -moz-transform: translateY(0%); }
}

/* Button Icon Animation */
.fl-button.fl-button-icon-animation i {
	width: 0 !important;
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}
.fl-button.fl-button-icon-animation:hover i {
	opacity: 1! important;
    -ms-filter: "alpha(opacity=100)";
}
.fl-button.fl-button-icon-animation i.fl-button-icon-after {
	margin-left: 0px !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
	margin-left: 10px !important;
}
.fl-button.fl-button-icon-animation i.fl-button-icon-before {
	margin-right: 0 !important;
}
.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
	margin-right: 20px !important;
    margin-left: -10px;
}

/* Templates
------------------------------------------------------ */

.single:not(.woocommerce).single-fl-builder-template .fl-content {
	width: 100%;
}

/* Default button colors for non Beaver Builder themes.
------------------------------------------------------ */

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
	background: #fafafa;
	border: 1px solid #ccc;
	color: #333;
}
.fl-builder-content a.fl-button *,
.fl-builder-content a.fl-button:visited * {
	color: #333;
}.fl-row-content-wrap { margin: 0px; }.fl-row-content-wrap { padding: 20px; }.fl-row-fixed-width { max-width: 1200px; }.fl-module-content { margin: 20px; }@media (max-width: 992px) { /* Responsive Utilities
------------------------------------------------------ */

.fl-visible-desktop,
.fl-visible-mobile,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: none;
}
.fl-visible-desktop-medium,
.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col {
	display: block;
} }@media (max-width: 768px) { /* Responsive Utilities
------------------------------------------------------ */

.fl-visible-desktop,
.fl-visible-desktop-medium,
.fl-visible-medium,
.fl-col-group .fl-visible-desktop.fl-col,
.fl-col-group .fl-visible-desktop-medium.fl-col,
.fl-col-group .fl-visible-medium.fl-col {
	display: none;
}
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
	display: block;
}

/* Rows
------------------------------------------------------ */

.fl-row-content-wrap {
	background-attachment: scroll !important;
}
.fl-row-bg-parallax .fl-row-content-wrap {
	background-attachment: scroll !important;
	background-position: center center !important;
}

/* Column Groups
------------------------------------------------------ */

/* Equal Heights */
.fl-col-group.fl-col-group-equal-height {
	display: block;
}
.fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Reversed Responsive Stacking */
.fl-col-group.fl-col-group-responsive-reversed {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-ms-box-orient: horizontal;
	-webkit-flex-flow: row wrap;
}
.fl-col-group.fl-col-group-responsive-reversed .fl-col {
	-webkit-box-flex: 0 0 100%;
  	 -moz-box-flex: 0 0 100%;
  	  -webkit-flex: 0 0 100%;
  		  -ms-flex: 0 0 100%;
  			  flex: 0 0 100%;
			  max-width: 100%;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
	-webkit-box-ordinal-group: 12;   /* OLD - iOS 6-, Safari 3.1-6 */
  	-moz-box-ordinal-group: 12;      /* OLD - Firefox 19- */
  	-ms-flex-order: 12;              /* TWEENER - IE 10 */
  	-webkit-order: 12;               /* NEW - Chrome */
	order: 12;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
	-webkit-box-ordinal-group: 11;
  	-moz-box-ordinal-group: 11;
  	-ms-flex-order: 11;
  	-webkit-order: 11;
	order: 11;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
	-webkit-box-ordinal-group: 10;
  	-moz-box-ordinal-group: 10;
  	-ms-flex-order: 10;
  	-webkit-order: 10;
	order: 10;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
	-webkit-box-ordinal-group: 9;
  	-moz-box-ordinal-group: 9;
  	-ms-flex-order: 9;
  	-webkit-order: 9;
	order: 9;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
	-webkit-box-ordinal-group: 8;
  	-moz-box-ordinal-group: 8;
  	-ms-flex-order: 8;
  	-webkit-order: 8;
	order: 8;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
	-webkit-box-ordinal-group: 7;
  	-moz-box-ordinal-group: 7;
  	-ms-flex-order: 7;
  	-webkit-order: 7;
	order: 7;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
	-webkit-box-ordinal-group: 6;
  	-moz-box-ordinal-group: 6;
  	-ms-flex-order: 6;
  	-webkit-order: 6;
	order: 6;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
	-webkit-box-ordinal-group: 5;
  	-moz-box-ordinal-group: 5;
  	-ms-flex-order: 5;
  	-webkit-order: 5;
	order: 5;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
	-webkit-box-ordinal-group: 4;
  	-moz-box-ordinal-group: 4;
  	-ms-flex-order: 4;
  	-webkit-order: 4;
	order: 4;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
	-webkit-box-ordinal-group: 3;
  	-moz-box-ordinal-group: 3;
  	-ms-flex-order: 3;
  	-webkit-order: 3;
	order: 3;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
	-webkit-box-ordinal-group: 2;
  	-moz-box-ordinal-group: 2;
  	-ms-flex-order: 2;
  	-webkit-order: 2;
	order: 2;
}
.fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
	-webkit-box-ordinal-group: 1;
  	-moz-box-ordinal-group: 1;
  	-ms-flex-order: 1;
  	-webkit-order: 1;
  	order: 1;
}

/* Columns
------------------------------------------------------ */

.fl-col {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: auto !important;
}
.fl-col-small {
	max-width: 400px;
}
.fl-block-col-resize {
	display:none;
}
/* Rows
------------------------------------------------------ */

.fl-row[data-node] .fl-row-content-wrap {
	border-left: none;
	border-right: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.fl-row[data-node] .fl-bg-video,
.fl-row[data-node] .fl-bg-slideshow {
	left: 0;
	right: 0;
}

/* Columns
------------------------------------------------------ */

.fl-col[data-node] .fl-col-content {
	border-left: none;
	border-right: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
} }.page .fl-post-header, .single-fl-builder-template .fl-post-header { display:none; }



.fl-node-598db43a3709b > .fl-row-content-wrap {
	background-color: #8952E9;
	background-color: rgba(137,82,233, 1);
}





.fl-node-598db43a3709b .fl-row-content {
	max-width: 1200px;
}

.fl-node-598db43a3709b .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-598db43a3709b .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-598db43a3709b .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}
 .fl-node-598db43a3709b > .fl-row-content-wrap {
	padding-bottom:0px;
}




.fl-node-598db1e2a0af4 > .fl-row-content-wrap {
	background-color: #f9f8fc;
	background-color: rgba(249,248,252, 1);
}




.fl-node-598db1e2a0af4 > .fl-row-content-wrap {
	border-style: solid;
	border-width: 0;
		border-color: #eff0f0;
	border-color: rgba(239,240,240, 1);
	}


.fl-node-598db1e2a0af4 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-598db1e2a0af4 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-598db1e2a0af4 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}
@media ( max-width: 768px ) {
 .fl-node-598db1e2a0af4.fl-row > .fl-row-content-wrap {
	padding-right:20px;
	padding-left:20px;
}
}
 .fl-node-598db1e2a0af4 > .fl-row-content-wrap {
	border-top-width:1px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}










.fl-node-5a9e9369b2460 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5a9e9369b2460 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5a9e9369b2460 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}
.fl-node-598db43a36fae {
	width: 100%;
}










	
	
.fl-node-598db43a36ec1 {
	width: 14%;
}










	
	
.fl-node-598db43a36efc {
	width: 72%;
}










	
	
.fl-node-598db43a36f37 {
	width: 14%;
}










	
	
.fl-node-598e979571305 {
	width: 100%;
}










	
	
.fl-node-598db68b645b8 {
	width: 100%;
}










	
	
.fl-node-598db1e2b0142 {
	width: 100%;
}










	
	
.fl-node-598ea3643295c {
	width: 100%;
}










	
	
.fl-node-5a9e9369b27ae {
	width: 100%;
}










	
	
.fl-node-5a9e9369b2998 {
	width: 8%;
}










	
	
.fl-node-5a9e9369b2a3a {
	width: 84%;
}










	
	
.fl-node-5a9e9369b2cc9 {
	width: 8%;
}










	
	
.fl-node-598e976e19a62.uabb-desktop-spacer-height-adjustment{
	position: relative;
	height: 30px;
}
.fl-node-598e976e19a62 {
	width: 100%;
}

.fl-node-598e976e19a62 .uabb-spacer-gap-preview.uabb-spacer-gap {
	height: 110px;
	clear: both;
	width: 100%;
} 

		
		@media ( max-width: 992px ) {
			.fl-node-598e976e19a62.uabb-tab-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598e976e19a62 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 60px;
				clear: both;
				width: 100%;
			}
		}		
	
			@media ( max-width: 768px ) {
			.fl-node-598e976e19a62.uabb-mobile-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598e976e19a62 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 60px;
				clear: both;
				width: 100%;
			}
		}		
		@media ( max-width: 992px ) {
 .fl-node-598e976e19a62.fl-module > .fl-module-content {
	margin-top:40px;
}
}
@media ( max-width: 768px ) {
 .fl-node-598e976e19a62.fl-module > .fl-module-content {
	margin-top:10px;
}
}
/* Title
---------------------------------------------------*/

body a.infobox-title-link {
	text-decoration: none;
}
body h1.uabb-infobox-title,
body h2.uabb-infobox-title,
body h3.uabb-infobox-title,
body h4.uabb-infobox-title,
body h5.uabb-infobox-title,
body h6.uabb-infobox-title {
	margin: 0;
	padding: 0;
	/*line-height: 1em;*/
}

/* Text
---------------------------------------------------*/
/* Text editor support */

.uabb-module-content .uabb-text-editor *:not(a) {
    color: inherit;
}
.uabb-module-content .uabb-text-editor *:not(i) {
    font-family: inherit;
}
.uabb-module-content .uabb-text-editor *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: inherit;
    line-height: inherit;	
}
.uabb-module-content .uabb-text-editor *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(strong):not(b) {
	font-weight: inherit;
}


/* Editor Fix */
.uabb-infobox-content .uabb-infobox-text p:last-of-type {
    margin-bottom: 0;
}

.uabb-infobox-content .uabb-infobox-text p {
	padding: 0 0 10px 0;
}

.fl-builder-content .uabb-infobox-text h1,
.fl-builder-content .uabb-infobox-text h2,
.fl-builder-content .uabb-infobox-text h3,
.fl-builder-content .uabb-infobox-text h4,
.fl-builder-content .uabb-infobox-text h5,
.fl-builder-content .uabb-infobox-text h6 {
    margin: 0;
}

/* Button
---------------------------------------------------*/

/*.uabb-infobox-button {
	padding: 10px 0 0 0;
}*/

/* Global Icons Photo Styling
---------------------------------------------------*/

.infobox-icon-above-title .uabb-infobox-left-right-wrap,
.infobox-icon-below-title .uabb-infobox-left-right-wrap,
.infobox-photo-above-title .uabb-infobox-left-right-wrap,
.infobox-photo-below-title .uabb-infobox-left-right-wrap {
	display: block;
	min-width: 100%;
	width: 100%;
}

/* Icons
---------------------------------------------------*/

/* Above/Below Title */
.infobox-icon-above-title .uabb-icon {
	display: block;
}
.infobox-icon-below-title .uabb-icon {
	display: block;
}

/* Left/Right of Title */
.infobox-icon-left-title .uabb-infobox-title,
.infobox-icon-right-title .uabb-infobox-title, 
.infobox-icon-left-title .uabb-imgicon-wrap,
.infobox-icon-right-title .uabb-imgicon-wrap{
	display: inline-block;
	vertical-align: middle;
}


.infobox-icon-left-title .left-title-image,
.infobox-icon-right-title .right-title-image{
	display: inline-block;
	width: 100%;
}

.infobox-icon-left-title .uabb-imgicon-wrap {
	margin-right: 20px;
}

.infobox-icon-right-title .uabb-imgicon-wrap{
	margin-left: 20px;
}


/* Left/Right */
.infobox-icon-left .uabb-infobox-left-right-wrap,
.infobox-icon-right .uabb-infobox-left-right-wrap{
	display: inline-block;
	width: 100%;
}

.infobox-icon-left .uabb-imgicon-wrap,
.infobox-icon-right .uabb-imgicon-wrap{
	display: inline-block;
	vertical-align: top;
}
.infobox-icon-left .uabb-infobox-content,
.infobox-icon-right .uabb-infobox-content{
	display: inline-block;
	vertical-align: top;
}

.infobox-icon-left .uabb-imgicon-wrap{
	margin-right: 20px;
}

.infobox-icon-right .uabb-imgicon-wrap{
	margin-left: 20px;
}

/* Photos
---------------------------------------------------*/

/* Above/Below Title */
.infobox-photo-above-title .uabb-imgicon-wrap {
	display: block;
	/*margin-bottom: 20px;*/
}
.infobox-photo-below-title .uabb-imgicon-wrap {
	display: block;
	margin: 10px 0 15px;
}

/* Left/Right of Title */
.infobox-photo-left-title .uabb-infobox-title,
.infobox-photo-right-title .uabb-infobox-title, 
.infobox-photo-left-title .uabb-imgicon-wrap,
.infobox-photo-right-title .uabb-imgicon-wrap{
	display: inline-block;
	vertical-align: middle;
}

.infobox-photo-left-title .uabb-infobox-title-wrap, 
.infobox-icon-left-title .uabb-infobox-title-wrap,
.infobox-photo-right-title .uabb-infobox-title-wrap, 
.infobox-icon-right-title .uabb-infobox-title-wrap {
	vertical-align: middle;
}


.infobox-photo-left-title .uabb-imgicon-wrap {
	margin-right: 20px;
}

.infobox-photo-right-title .uabb-imgicon-wrap{
	margin-left: 20px;
}


/* Left/Right */
.infobox-photo-left .uabb-infobox-left-right-wrap,
.infobox-photo-right .uabb-infobox-left-right-wrap{
	display: inline-block;
	width: 100%;
}

.infobox-photo-left .uabb-imgicon-wrap,
.infobox-photo-right .uabb-imgicon-wrap{
	display: inline-block;
	vertical-align: top;
}

.infobox-photo-left .uabb-infobox-content,
.infobox-photo-right .uabb-infobox-content{
	display: inline-block;
	vertical-align: top;
}

.infobox-photo-left .uabb-imgicon-wrap{
	margin-right: 20px;
}

.infobox-photo-right .uabb-imgicon-wrap{
	margin-left: 20px;
}

/* Flex Properties */
.fl-module-info-box .fl-module-content {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-shrink: 1;
}

.fl-module-info-box .uabb-separator-parent {
	line-height: 0;
}

/* Module Link */
.fl-module-info-box .uabb-infobox-module-link{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 4;
}

.uabb-infobox-content .uabb-infobox-title-prefix {
	padding: 0;
	margin: 0;
}@media (max-width: 768px) { .infobox-photo-left,
.infobox-photo-right {
	display: block;
}
.infobox-photo-left .infobox-photo,
.infobox-photo-left-text .infobox-photo {
	display: block;
	margin-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	width: auto;
}
.infobox-photo-right .infobox-photo,
.infobox-photo-right-text .infobox-photo {
	display: block;
	margin-top: 25px;
	padding-left: 0;
	padding-right: 0;
	width: auto;
}
.infobox-photo-left .infobox-content,
.infobox-photo-left-text .infobox-content,
.infobox-photo-right .infobox-content,
.infobox-photo-right-text .infobox-content {
	display: block;
	width: auto;
} }
.fl-node-598db43a36f73 {
	width: 100%;
}

	.fl-node-598db43a36f73 .uabb-icon-wrap .uabb-icon i {
				width: auto;
					}




/* Image icon Margin 0 */

/* Border Properties */

/* Background Property */
	.fl-node-598db43a36f73 .uabb-infobox { 
		}
/* Align */
.fl-node-598db43a36f73 .infobox-center {
	text-align: center;
}

/* Minimum Height and Vertical Alignment */	

/* Heading Margin Properties */
.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-title {
	margin-top: px;
	margin-bottom: 10px;
}

/* Prefix Margin Properties */

/* Heading Color */
 
.fl-node-598db43a36f73 h2.uabb-infobox-title, 
.fl-node-598db43a36f73 h2.uabb-infobox-title span a,
.fl-node-598db43a36f73 h2.uabb-infobox-title * {
	color: #ffffff}


.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-text {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Description Color */
 
.fl-node-598db43a36f73 .uabb-infobox-text {
	color: #f2f7f9;
}
/* Icon Margin */
/* Image Margin */




/* Link Color */


/* Typography Options for Title */
.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-title,
.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-title a {
	
	
			 font-size: px;
				
	 

		
			line-height: em;	
	  

		   text-transform: ;
	   	   

       

}

/* Typography Options for Description */
.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-text {
	
	
			 font-size: px;
				
	 

	
			line-height: em;	
	 

		   text-transform: ;
	
    }

/* Typography Options for Prefix */
.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-title-prefix {
	
	
			 font-size: px;
				
	
	
			line-height: em;	
	 

	
		   text-transform: ;
	   

       

}
/* Typography Options for Link Text */
.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-cta-link {
	
			 font-size: px;
				
	
	
			line-height: em;	
	
		   text-transform: ;
	
       

}

/* Module Link */


/* Calculation Width */

/* Left Right Title Image */

/* Responsive CSS */

		

	@media (max-width: 992px) { 	
		.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox {
			;		}
	
	.fl-builder-content .fl-node-598db43a36f73 h2.uabb-infobox-title,
	.fl-builder-content .fl-node-598db43a36f73 h2.uabb-infobox-title a {

					font-size: px;
				
		  

			
					line-height: em;	
		  
	}

	.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-text {	

					font-size: px;
				
		   

		
					line-height: em;	
		    
	}

	.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-title-prefix {

					font-size: px;
				
		
			
					line-height: em;	
		
	}

	.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-cta-link {

					font-size: px;
				
		  

		
					line-height: em;	
		    

	}

	}

	@media (max-width: 768px) { 	
	.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox {
		;	}
	
	

	.fl-node-598db43a36f73 .infobox-responsive- {
		text-align: ;
	}
	

	.fl-builder-content .fl-node-598db43a36f73 h2.uabb-infobox-title,
	.fl-builder-content .fl-node-598db43a36f73 h2.uabb-infobox-title a {
		
					font-size: px;
				
		
		
					line-height: em;
		  

	}

	.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-text {

					font-size: px;
				
				

				
					line-height: em;
		
	}

	
	.fl-builder-content .fl-node-598db43a36f73 .uabb-infobox-title-prefix {

					font-size: px;	
		 

		
					line-height: em;
		
	}

	.fl-builder-content .fl-node-598db43a36f73	.uabb-infobox-cta-link { 

					font-size: px;	
				
		
					line-height: em;
		 
		
	}

	
	/* Left Right Title Image */
	}
.fl-node-598e9ce01ab40.uabb-desktop-spacer-height-adjustment{
	position: relative;
	height: 30px;
}
.fl-node-598e9ce01ab40 {
	width: 100%;
}

.fl-node-598e9ce01ab40 .uabb-spacer-gap-preview.uabb-spacer-gap {
	height: 50px;
	clear: both;
	width: 100%;
} 

		
		@media ( max-width: 992px ) {
			.fl-node-598e9ce01ab40.uabb-tab-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598e9ce01ab40 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 0px;
				clear: both;
				width: 100%;
			}
		}		
	
			@media ( max-width: 768px ) {
			.fl-node-598e9ce01ab40.uabb-mobile-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598e9ce01ab40 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 0px;
				clear: both;
				width: 100%;
			}
		}		
		@media ( max-width: 992px ) {
 .fl-node-598e9ce01ab40.fl-module > .fl-module-content {
	margin-top:40px;
}
}
@media ( max-width: 768px ) {
 .fl-node-598e9ce01ab40.fl-module > .fl-module-content {
	margin-top:10px;
}
}
.fl-node-598ea35c006d1.uabb-desktop-spacer-height-adjustment{
	position: relative;
	height: 30px;
}
.fl-node-598ea35c006d1 {
	width: 100%;
}

.fl-node-598ea35c006d1 .uabb-spacer-gap-preview.uabb-spacer-gap {
	height: 25px;
	clear: both;
	width: 100%;
} 

		
		@media ( max-width: 992px ) {
			.fl-node-598ea35c006d1.uabb-tab-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598ea35c006d1 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 10px;
				clear: both;
				width: 100%;
			}
		}		
	
			@media ( max-width: 768px ) {
			.fl-node-598ea35c006d1.uabb-mobile-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598ea35c006d1 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 0px;
				clear: both;
				width: 100%;
			}
		}		
		@media ( max-width: 992px ) {
 .fl-node-598ea35c006d1.fl-module > .fl-module-content {
	margin-top:40px;
}
}
@media ( max-width: 768px ) {
 .fl-node-598ea35c006d1.fl-module > .fl-module-content {
	margin-top:10px;
}
}
.fl-node-598e9d0de2526.uabb-desktop-spacer-height-adjustment{
	position: relative;
	height: 30px;
}
.fl-node-598e9d0de2526 {
	width: 100%;
}

.fl-node-598e9d0de2526 .uabb-spacer-gap-preview.uabb-spacer-gap {
	height: 35px;
	clear: both;
	width: 100%;
} 

		
		@media ( max-width: 992px ) {
			.fl-node-598e9d0de2526.uabb-tab-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598e9d0de2526 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 20px;
				clear: both;
				width: 100%;
			}
		}		
	
			@media ( max-width: 768px ) {
			.fl-node-598e9d0de2526.uabb-mobile-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-598e9d0de2526 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 0px;
				clear: both;
				width: 100%;
			}
		}		
		@media ( max-width: 992px ) {
 .fl-node-598e9d0de2526.fl-module > .fl-module-content {
	margin-top:40px;
}
}
@media ( max-width: 768px ) {
 .fl-node-598e9d0de2526.fl-module > .fl-module-content {
	margin-top:10px;
}
}
.fl-node-5a9e9369b2852.uabb-desktop-spacer-height-adjustment{
	position: relative;
	height: 30px;
}
.fl-node-5a9e9369b2852 {
	width: 100%;
}

.fl-node-5a9e9369b2852 .uabb-spacer-gap-preview.uabb-spacer-gap {
	height: 50px;
	clear: both;
	width: 100%;
} 

		
		@media ( max-width: 992px ) {
			.fl-node-5a9e9369b2852.uabb-tab-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-5a9e9369b2852 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 25px;
				clear: both;
				width: 100%;
			}
		}		
	
			@media ( max-width: 768px ) {
			.fl-node-5a9e9369b2852.uabb-mobile-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-5a9e9369b2852 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 0px;
				clear: both;
				width: 100%;
			}
		}		
		
.fl-node-5a9e9369b2ade {
	width: 100%;
}

	.fl-node-5a9e9369b2ade .uabb-icon-wrap .uabb-icon i {
				width: auto;
					}




/* Image icon Margin 0 */

/* Border Properties */

/* Background Property */
	.fl-node-5a9e9369b2ade .uabb-infobox { 
		}
/* Align */
.fl-node-5a9e9369b2ade .infobox-center {
	text-align: center;
}

/* Minimum Height and Vertical Alignment */	

/* Heading Margin Properties */
.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-title {
	margin-top: px;
	margin-bottom: 10px;
}

/* Prefix Margin Properties */

/* Heading Color */
 
.fl-node-5a9e9369b2ade h2.uabb-infobox-title, 
.fl-node-5a9e9369b2ade h2.uabb-infobox-title span a,
.fl-node-5a9e9369b2ade h2.uabb-infobox-title * {
	color: #ffffff}


.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-text {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Description Color */
 
.fl-node-5a9e9369b2ade .uabb-infobox-text {
	color: #fafafa;
}
/* Icon Margin */
/* Image Margin */




/* Link Color */


/* Typography Options for Title */
.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-title,
.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-title a {
	
			font-family: Playfair Display;font-weight: 700;	
			 font-size: 46px;
				
	 

		
			line-height: 1.22em;	
	  

		   text-transform: ;
	   	   

       

}

/* Typography Options for Description */
.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-text {
	
			font-family: Poppins;font-weight: 400;	
			 font-size: 18px;
				
	 

	
			line-height: 1.67em;	
	 

		   text-transform: ;
	
    }

/* Typography Options for Prefix */
.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-title-prefix {
	
	
			 font-size: px;
				
	
	
			line-height: em;	
	 

	
		   text-transform: ;
	   

       

}
/* Typography Options for Link Text */
.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-cta-link {
	
			 font-size: px;
				
	
	
			line-height: em;	
	
		   text-transform: ;
	
       

}

/* Module Link */


/* Calculation Width */

/* Left Right Title Image */

/* Responsive CSS */

		

	@media (max-width: 992px) { 	
		.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox {
			;		}
	
	.fl-builder-content .fl-node-5a9e9369b2ade h2.uabb-infobox-title,
	.fl-builder-content .fl-node-5a9e9369b2ade h2.uabb-infobox-title a {

					font-size: 40px;
				
		  

			
					line-height: 1.25em;	
		  
	}

	.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-text {	

					font-size: 16px;
				
		   

		
					line-height: 1.63em;	
		    
	}

	.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-title-prefix {

					font-size: px;
				
		
			
					line-height: em;	
		
	}

	.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-cta-link {

					font-size: px;
				
		  

		
					line-height: em;	
		    

	}

	}

	@media (max-width: 768px) { 	
	.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox {
		;	}
	
	

	.fl-node-5a9e9369b2ade .infobox-responsive- {
		text-align: ;
	}
	

	.fl-builder-content .fl-node-5a9e9369b2ade h2.uabb-infobox-title,
	.fl-builder-content .fl-node-5a9e9369b2ade h2.uabb-infobox-title a {
		
					font-size: 30px;
				
		
		
					line-height: 1.33em;
		  

	}

	.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-text {

					font-size: 16px;
				
				

				
					line-height: 1.63em;
		
	}

	
	.fl-builder-content .fl-node-5a9e9369b2ade .uabb-infobox-title-prefix {

					font-size: px;	
		 

		
					line-height: em;
		
	}

	.fl-builder-content .fl-node-5a9e9369b2ade	.uabb-infobox-cta-link { 

					font-size: px;	
				
		
					line-height: em;
		 
		
	}

	
	/* Left Right Title Image */
	}
.fl-node-5a9e9369b2b81 .uabb-button .uabb-btn-img {
	width: 20px;
}



.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a,
.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:visited {
	
			font-family: Poppins;font-weight: 500;	
         	font-size: 16px;
					line-height: 18px;
	    		
    
		    	
        	line-height: em;	
    
		   text-transform: ;
	
    	
	
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
		
		width: 245px;
	min-height: 54px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;	
	
			background: #ffc300;
		border: 1px solid #ffc300;
		
	
		

	}

	html.internet-explorer .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a,
	html.internet-explorer .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:visited {
		line-height: 54px;
	}

.fl-node-5a9e9369b2b81 .uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
	-webkit-transform: translateY(104px);
	-moz-transform: translateY(104px);
	-ms-transform: translateY(104px);
	-o-transform: translateY(104px);
	transform: translateY(104px);
}

.fl-node-5a9e9369b2b81 .uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
	-webkit-transform: translateY(-104px);
	-moz-transform: translateY(-104px);
	-ms-transform: translateY(-104px);
	-o-transform: translateY(-104px);
	transform: translateY(-104px);
}

.fl-builder-content .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a.uabb-button,
.fl-builder-content .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a.uabb-button *,
.fl-builder-content .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a.uabb-button:visited,
.fl-builder-content .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a.uabb-button:visited * {
	color: #181723;
}

.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:hover {
			background: #ffd71c;
		border: 1px solid #ffd71c;

	}

.fl-builder-content .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a.uabb-button:hover,
.fl-builder-content .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a.uabb-button:hover * {
	color: #181723;
}

	
@media ( max-width: 768px ) {
	.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap.uabb-creative-button-reponsive-center {
		text-align: center;
	}
}


	@media ( max-width: 992px ) {
		.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a,
		.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:visited {

		    		    	font-size: px;
						
		    		    
		    		        		    
                        	line-height: em;	
            				
		}

					html.internet-explorer .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a,
			html.internet-explorer .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:visited {
				line-height: 54px;
			}
			}

	
	@media ( max-width: 768px ) {
		.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a,
		.fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:visited {

							font-size: px;
						
					    
		    		        		    
                        	line-height: em;
            		}

					html.internet-explorer .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a,
			html.internet-explorer .fl-node-5a9e9369b2b81 .uabb-creative-button-wrap a:visited {
				line-height: 54px;
			}
			
	}	


.fl-node-5a9e9369b2c24.uabb-desktop-spacer-height-adjustment{
	position: relative;
	height: 30px;
}
.fl-node-5a9e9369b2c24 {
	width: 100%;
}

.fl-node-5a9e9369b2c24 .uabb-spacer-gap-preview.uabb-spacer-gap {
	height: 65px;
	clear: both;
	width: 100%;
} 

		
		@media ( max-width: 992px ) {
			.fl-node-5a9e9369b2c24.uabb-tab-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-5a9e9369b2c24 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 30px;
				clear: both;
				width: 100%;
			}
		}		
	
			@media ( max-width: 768px ) {
			.fl-node-5a9e9369b2c24.uabb-mobile-spacer-height-adjustment{
				position: relative;
				height: 30px;
			}
			.fl-node-5a9e9369b2c24 .uabb-spacer-gap-preview.uabb-spacer-gap {
				height: 10px;
				clear: both;
				width: 100%;
			}
		}		
		
							.fl-node-598db43a3709b .uabb-top-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px );
							}
		
					.fl-node-598db43a3709b .uabb-bottom-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px ) ;
							}
		
		.fl-node-598db43a3709b #uabb-top-slit2,
		.fl-node-598db43a3709b #uabb-top-slit3 {
						fill: #afafaf;
		}

		.fl-node-598db43a3709b #uabb-bottom-slit2,
		.fl-node-598db43a3709b #uabb-bottom-slit3 {
						fill: #afafaf;
		}

		.fl-node-598db43a3709b #uabb-top-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-bottom-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-top-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-bottom-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-top-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-bottom-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-top-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db43a3709b #uabb-bottom-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}


					.fl-node-598db43a3709b .uabb-top-row-separator {
			z-index: 9;
		}
							.fl-node-598db43a3709b .uabb-bottom-row-separator {
			z-index: 9;
		}
		
		/* Responsive Sizes */
					@media(max-width: 992px) {				
																	.fl-node-598db43a3709b .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-598db43a3709b .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}

			@media(max-width: 768px) {

								
									.fl-node-598db43a3709b .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-598db43a3709b .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}
			
							.fl-node-598db1e2a0af4 .uabb-top-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px );
							}
		
					.fl-node-598db1e2a0af4 .uabb-bottom-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px ) ;
							}
		
		.fl-node-598db1e2a0af4 #uabb-top-slit2,
		.fl-node-598db1e2a0af4 #uabb-top-slit3 {
						fill: #afafaf;
		}

		.fl-node-598db1e2a0af4 #uabb-bottom-slit2,
		.fl-node-598db1e2a0af4 #uabb-bottom-slit3 {
						fill: #afafaf;
		}

		.fl-node-598db1e2a0af4 #uabb-top-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-bottom-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-top-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-bottom-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-top-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-bottom-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-top-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-598db1e2a0af4 #uabb-bottom-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}


					.fl-node-598db1e2a0af4 .uabb-top-row-separator {
			z-index: 9;
		}
							.fl-node-598db1e2a0af4 .uabb-bottom-row-separator {
			z-index: 9;
		}
		
		/* Responsive Sizes */
					@media(max-width: 992px) {				
																	.fl-node-598db1e2a0af4 .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-598db1e2a0af4 .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}

			@media(max-width: 768px) {

								
									.fl-node-598db1e2a0af4 .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-598db1e2a0af4 .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}
			
							.fl-node-5a9e9369b2460 .uabb-top-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px );
							}
		
					.fl-node-5a9e9369b2460 .uabb-bottom-row-separator.uabb-has-svg svg {
									width: calc( 100% + 1.5px ) ;
							}
		
		.fl-node-5a9e9369b2460 #uabb-top-slit2,
		.fl-node-5a9e9369b2460 #uabb-top-slit3 {
						fill: #afafaf;
		}

		.fl-node-5a9e9369b2460 #uabb-bottom-slit2,
		.fl-node-5a9e9369b2460 #uabb-bottom-slit3 {
						fill: #afafaf;
		}

		.fl-node-5a9e9369b2460 #uabb-top-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-bottom-pine-tree-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-top-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-bottom-pine-tree-bend-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-top-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-bottom-slime-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-top-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}

		.fl-node-5a9e9369b2460 #uabb-bottom-wave-slide-separator2 {
						fill: #ffffff;
			stroke: #ffffff;
		}


					.fl-node-5a9e9369b2460 .uabb-top-row-separator {
			z-index: 9;
		}
							.fl-node-5a9e9369b2460 .uabb-bottom-row-separator {
			z-index: 9;
		}
		
		/* Responsive Sizes */
					@media(max-width: 992px) {				
																	.fl-node-5a9e9369b2460 .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-5a9e9369b2460 .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}

			@media(max-width: 768px) {

								
									.fl-node-5a9e9369b2460 .uabb-top-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
									.fl-node-5a9e9369b2460 .uabb-bottom-row-separator.uabb-has-svg svg {
													width: 100%;
											}
				
			}
			
/* Column Extended Settings CSS */

				
				
				
				
				
				
				
				
				
				
				
				
/* Column End Extended Settings CSS*/
/* Equal height Column Bottom Alignment */
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
          -webkit-box-align: end;
           -webkit-box-pack: end;
              -ms-flex-pack: end;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
    margin: 0;
    clear: both;
}

/* Anchor Tag Css */

.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
    text-decoration: none;
}

/* Row Separator CSS */

.uabb-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
}

.uabb-top-row-separator {
    top: 0;
    bottom: auto
}

.uabb-bottom-row-separator {
    top: auto;
    bottom: 0;
}

.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
}

@media (max-width: 992px) {

    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .fl-builder-content-editing .fl-visible-desktop.uabb-row,
    .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
    .fl-builder-content-editing .fl-visible-medium.uabb-row {
        display: none !important;
    }

    .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
    .fl-builder-content-editing .fl-visible-mobile.uabb-row {
        display: block !important;
    }
}

/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/

.fl-responsive-preview-content .fl-builder-content-editing {
    overflow-x: hidden;
    overflow-y: visible;
}

.uabb-row-separator svg {
    width: 100%;
}

.uabb-top-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: -1px;
    bottom: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    bottom: -1px;
    top: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
    top: 0;
}

/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *  Stamp
 *  Grass
 *  Slime
 *  Grass Bend
 *  Wave Slide
 *  Muliple Triangles
 *  Pine Tree
 *  Pine Tree Bend
 *
 ***************************************/
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

/*
 *  Big Triangle
*/
.uabb-bottom-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
       -moz-transform: scale(1) scaleY(-1) translateX(-50%);
        -ms-transform: scale(1) scaleY(-1) translateX(-50%);
         -o-transform: scale(1) scaleY(-1) translateX(-50%);
            transform: scale(1) scaleY(-1) translateX(-50%);
}

.uabb-top-row-separator.uabb-big-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
       -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
         -o-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
}

/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.uabb-top-row-separator.uabb-curve-up-separator svg {
    left: 50%;
     -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-top-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-bottom-row-separator.uabb-curve-down-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}


/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/

.uabb-top-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(-1);
       -moz-transform: translateX(-50%) scale(-1);
        -ms-transform: translateX(-50%) scale(-1);
         -o-transform: translateX(-50%) scale(-1);
            transform: translateX(-50%) scale(-1);
}

.uabb-top-row-separator.uabb-tilt-right-separator svg{
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(-1);
       -moz-transform: translateX(-50%) scaleX(-1);
        -ms-transform: translateX(-50%) scaleX(-1);
         -o-transform: translateX(-50%) scaleX(-1);
            transform: translateX(-50%) scaleX(-1);
}

.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
    top: 0;
}

.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
    bottom: 0;
}

/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *  Arrow Inward
 *  Arrow Outward
 *
 ***************************************/

.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(-1);
       -moz-transform: translateX(-50%) scaleY(-1);
        -ms-transform: translateX(-50%) scaleY(-1);
         -o-transform: translateX(-50%) scaleY(-1);
            transform: translateX(-50%) scaleY(-1);
}

.uabb-bottom-row-separator.uabb-multi-triangle svg {
    bottom: -2px;
}

.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
    left: 0;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}


/* Buttons
------------------------------------------------------ */

.uabb-button-wrap a,
.uabb-button-wrap a:visited {
    /*background: #fafafa;*/
    /*border: 1px solid #ccc;*/
    /* Need to delete later
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;*/
    /*color: #333;*/
    display: inline-block;
    font-size: 16px;
    /*font-weight: normal;*/
    line-height: 18px;
    /*padding: 12px 24px;*/
    text-decoration: none;
    text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
    /*color: #333;*/
}
.fl-builder-content .uabb-button:hover {
    text-decoration: none;
}

.fl-builder-content .uabb-button-width-full .uabb-button {
    display: block;
    text-align: center;
}

.uabb-button-width-custom .uabb-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.fl-builder-content .uabb-button-left {
    text-align: left;
}
.fl-builder-content .uabb-button-center {
    text-align: center;
}
.fl-builder-content .uabb-button-right {
    text-align: right;
}

/*.fl-builder-content .uabb-button i {
    vertical-align: middle;
}*/

.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    width: 1em;
    /*margin-right:8px;*/
}

.uabb-button .uabb-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
    margin-left: 0;
    margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
    margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
    vertical-align: middle;
}

/* Icons
------------------------------------------------------ */

.uabb-icon-wrap {
    display: inline-block;
}
/*.uabb-icon {
    display: table-cell;
    vertical-align: middle;
}*/
.uabb-icon a {
    text-decoration: none;
}
.uabb-icon i {
    /*float: left;*/
    display: block;
}
.uabb-icon i:before {
    border: none !important;
    background: none !important;
}
.uabb-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.uabb-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}
.uabb-icon-text a {
    text-decoration: none;
}

/* Photos
------------------------------------------------------ */

.uabb-photo {
    line-height: 0;
    position: relative;
    z-index: 2;
}
.uabb-photo-align-left {
    text-align: left;
}
.uabb-photo-align-center {
    text-align: center;
}
.uabb-photo-align-right {
    text-align: right;
}
.uabb-photo-content {
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.uabb-photo-content img {
    border-radius: inherit;
    display: inline;
    height: auto;
    max-width: 100%;
    width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.uabb-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uabb-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}
.uabb-photo-caption-hover {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity = 0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition:visibility 200ms linear;
    -moz-transition:visibility 200ms linear;
    transition:visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
    opacity: 100;
    visibility: visible;
    /*filter: alpha(opacity = 100);*/
}

/* Panel & Buttons
------------------------------------------------------ */
.uabb-active-btn {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
    display: block !important;
    opacity: 1 !important;
}

/* Image Icon Object */
.uabb-imgicon-wrap .uabb-icon {
    display: block;
}
.uabb-imgicon-wrap .uabb-icon i{
    float: none;
}

/* Photo */


.uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
    text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
    text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
    text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: auto;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* Creative Button
___________________________________________________________________________*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    position: relative;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;

}

.uabb-creative-button-wrap a:focus {
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/*.uabb-creative-button-wrap a *,
.uabb-creative-button-wrap a:visited * {
    color: #333;
}*/

.uabb-creative-button-wrap a:hover {
    text-decoration: none;
}

.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {
    display: block;
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
    text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
    text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
    text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
    font-size: 1.3em;
    height: auto;
    vertical-align: middle;
    width: auto;
}

.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}
.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {
    margin-right: 8px;
    margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {
    margin: 0;
}

.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {
    vertical-align: middle;
}






/*  Translate Button styles */

.uabb-creative-button.uabb-creative-transparent-btn {
    background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
}

/* transparent-fill-top, transparent-fill-bottom  */
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
    width: 100%;
    height: 0;
    left: 0;
}

/* transparent-fill-top */
.uabb-transparent-fill-top-btn:after {
    top: 0;
}
/* transparent-fill-bottom */
.uabb-transparent-fill-bottom-btn:after {
    bottom: 0;
}

/* transparent-fill-left, transparent-fill-right */
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
    width: 0;
    height: 100%;
    top: 0;
}

/* transparent-fill-left */
.uabb-transparent-fill-left-btn:after {
    left: 0;
}
/* transparent-fill-right */
.uabb-transparent-fill-right-btn:after {
    right: 0;
}


/* transparent-fill-center */
.uabb-transparent-fill-center-btn:after{
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

/*  transparent-fill-diagonal, transparent-fill-horizontal  */
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
}

/*  transparent-fill-diagonal */
.uabb-transparent-fill-diagonal-btn{
    overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
       -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
        -ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
         -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );
            transform: translateX(-50%) translateY(-50%) rotate( 45deg );
}
/* transparent-fill-horizontal */
.uabb-transparent-fill-horizontal-btn:after{
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}


/*  3D Button styles */
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

/*a.uabb-creative-threed-btn.uabb-animate_top-btn,
a.uabb-creative-threed-btn.uabb-animate_bottom-btn,
a.uabb-creative-threed-btn.uabb-animate_left-btn,
a.uabb-creative-threed-btn.uabb-animate_right-btn {
    -webkit-transition: all 200ms;
       -moz-transition: all 200ms;
        -ms-transition: all 200ms;
         -o-transition: all 200ms;
            transition: all 200ms;
} */

.perspective {
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
            perspective: 800px;
            margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
}

.uabb-creative-button.uabb-creative-threed-btn {
    /*display: block;*/
    outline: 1px solid transparent;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*  3D Button styles --- Animate to top */
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
    height: 40%;
    left: 0;
    top: -40%;
    width: 100%;
    -webkit-transform-origin: 0% 100%;
       -moz-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
            transform: rotateX(90deg);
}

/*  3D Button styles --- Animate to bottom */
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
    width: 100%;
    height: 40%;
    left: 0;
    top: 100%;

    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}

/*  3D Button styles --- Animate to Left */
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
    width: 20%;
    height: 100%;
    left: -20%;
    top: 0;
    -webkit-transform-origin: 100% 0%;
       -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
            transform-origin: 100% 0%;


    -webkit-transform: rotateY(-60deg);
       -moz-transform: rotateY(-60deg);
        -ms-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
}

/*  3D Button styles --- Animate to Right */
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
    width: 20%;
    height: 100%;
    left: 104%;
    top: 0;
    -webkit-transform-origin: 0% 0%;
       -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;

    -webkit-transform: rotateY(120deg);
       -moz-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
            transform: rotateY(120deg);
}


/* Animate Top */
.uabb-animate_top-btn:hover{
    -webkit-transform: rotateX(-15deg);
       -moz-transform: rotateX(-15deg);
        -ms-transform: rotateX(-15deg);
         -o-transform: rotateX(-15deg);
            transform: rotateX(-15deg);

}

/* Animate Bottom */
.uabb-animate_bottom-btn:hover{
    -webkit-transform: rotateX(15deg);
       -moz-transform: rotateX(15deg);
        -ms-transform: rotateX(15deg);
         -o-transform: rotateX(15deg);
            transform: rotateX(15deg);

}

/* Animate Left */
.uabb-animate_left-btn:hover{
    -webkit-transform: rotateY(6deg);
       -moz-transform: rotateY(6deg);
        -ms-transform: rotateY(6deg);
         -o-transform: rotateY(6deg);
            transform: rotateY(6deg);
}

/* Animate Right */
.uabb-animate_right-btn:hover{
    -webkit-transform: rotateY(-6deg);
       -moz-transform: rotateY(-6deg);
        -ms-transform: rotateY(-6deg);
         -o-transform: rotateY(-6deg);
            transform: rotateY(-6deg);

}




/*  Flat Button styles  */

/*  Common Classes  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
    overflow: hidden;
    position: relative;
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    bottom: 0;
    height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms linear;
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
            transition: all 200ms linear;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

/*  Making Icon position center  */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*  Common Hover Classes */
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
    left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
    top: 0;
}


/*  Animate Icon to the right */
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
    top: 0;
    left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
    -webkit-transform: translateX(200%);
       -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
         -o-transform: translateX(200%);
            transform: translateX(200%);
}

/*  Animate Icon to the left */
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
    top: 0;
    left: 100%;
}

.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
    -webkit-transform: translateX(-200%);
       -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
         -o-transform: translateX(-200%);
            transform: translateX(-200%);
}


/*  Animate Icon From the Top */
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
    top: -100%;
    left: 0;
}

/*.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover span {
    -webkit-transform: translateY(500px);
       -moz-transform: translateY(500px);
        -ms-transform: translateY(500px);
         -o-transform: translateY(500px);
            transform: translateY(500px);*/

.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
    -webkit-transform: translateY(400px);
       -moz-transform: translateY(400px);
        -ms-transform: translateY(400px);
         -o-transform: translateY(400px);
            transform: translateY(400px);
}

/*  Animate Icon From the Bottom */
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
    top: 100%;
    left: 0;
}


/*.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover span {
    -webkit-transform: translateY(-500px);
       -moz-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
         -o-transform: translateY(-500px);
            transform: translateY(-500px);*/

.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
    -webkit-transform: translateY(-400px);
       -moz-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
         -o-transform: translateY(-400px);
            transform: translateY(-400px);
}

/* Media/Video CSS */
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode, 
.uabb-tab-acc-content .mejs-container:not(.mejs-audio), 
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode, 
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio), 
.uabb-adv-accordion-content .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
    padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video, 
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video, 
.uabb-adv-accordion-content video.wp-video-shortcode {
    max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
    position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}
/* Theme Button
------------------------------------------------------ */
/*.fl-builder-content a.uabb-button,
.fl-builder-content a.uabb-button:visited,
.fl-builder-content a.uabb-creative-button,
.fl-builder-content a.uabb-creative-button:visited*/

.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
		font-family: inherit;
			font-weight: inherit;
	
		font-size: px;
	
	
	
	}

.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
		font-family: inherit;
	 
		font-weight: inherit;
			font-size: px;
	
	
	
	}


/* Responsive Js Breakpoint Css */

.uabb-js-breakpoint { 
	content:"default"; 
	display:none;
}
@media screen and (max-width: 992px) {
	.uabb-js-breakpoint {
		content:"992";
	}
}

@media screen and (max-width: 768px) {
	.uabb-js-breakpoint {
		content:"768";
	}
}



								.fl-node-5a9e9369b2460 > .fl-row-content-wrap {
						background-color: #5540d9;
						background-image: -webkit-linear-gradient( 135deg, #5540d9 0%, #ee7fff 100%);
						background-image: -moz-linear-gradient( 135deg, #5540d9 0%, #ee7fff 100%);
						background-image: -o-linear-gradient( 135deg, #5540d9 0%, #ee7fff 100%);
						background-image: -ms-linear-gradient( 135deg, #5540d9 0%, #ee7fff 100%);
						background-image: linear-gradient( 135deg, #5540d9 0%, #ee7fff 100%);
					}
						
																														
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
					
			
			
			
		