html.slb_overlay embed,
html.slb_overlay iframe,
html.slb_overlay object {
    visibility: hidden;
}
html.slb_overlay #slb_viewer_wrap embed,
html.slb_overlay #slb_viewer_wrap iframe,
html.slb_overlay #slb_viewer_wrap object {
   visibility: visible;
}