.elementor-7 .elementor-element.elementor-element-812aa30 {
    background-image: url("https://websitedemos.net/coach02/wp-content/uploads/sites/171/2018/02/hero-free-img.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-812aa30 > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(270deg, rgba(7,90,174,0) 0%, #075aae 100%);
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-66f380d .elementor-spacer-inner {
    height: 250px;
}
.elementor-7 .elementor-element.elementor-element-74aef9a4 {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-74aef9a4.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-74aef9a4 > .elementor-widget-container {
    padding: 0 0 15px;
}
.elementor-7 .elementor-element.elementor-element-4b41ce4 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-4b41ce4 {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-4b41ce4 > .elementor-widget-container {
    padding: 0 0 15px;
}
.elementor-7 .elementor-element.elementor-element-454ea3d7 .elementor-button,
.elementor-7 .elementor-element.elementor-element-454ea3d7 a.elementor-button {
    color: #000000;
    background-color: #ffffff;
    border-radius: 0 0 0 0;
    padding: 20px 35px;
}
.elementor-7 .elementor-element.elementor-element-454ea3d7 .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-315b29 .elementor-button,
.elementor-7 .elementor-element.elementor-element-315b29 a.elementor-button {
    color: #ffffff;
    background-color: rgba(224,26,79,0);
    border-radius: 0 0 0 0;
    padding: 20px 35px;
}
.elementor-7 .elementor-element.elementor-element-315b29 .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-f1107c1 .elementor-spacer-inner {
    height: 250px;
}
.elementor-7 .elementor-element.elementor-element-47149748 {
    background-color: #f3f8fb;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-47149748 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-232b0910 .elementor-spacer-inner {
    height: 20px;
}
.elementor-7 .elementor-element.elementor-element-1006131f {
    text-align: center;
}
.elementor-7 .elementor-element.elementor-element-1006131f.elementor-widget-heading .elementor-heading-title {
    color: #646e80;
}
.elementor-7 .elementor-element.elementor-element-4fb0e996 .gallery-item .gallery-caption {
    text-align: center;
}
.elementor-7 .elementor-element.elementor-element-1bb23124 .elementor-spacer-inner {
    height: 20px;
}
.elementor-7 .elementor-element.elementor-element-2051a02d .elementor-spacer-inner {
    height: 80px;
}
.elementor-7 .elementor-element.elementor-element-ace23f6 {
    text-align: center;
}
.elementor-7 .elementor-element.elementor-element-1b27b863 .elementor-text-editor {
    text-align: center;
}
.elementor-7 .elementor-element.elementor-element-1b27b863 {
    color: #646e80;
}
.elementor-7 .elementor-element.elementor-element-1b27b863 > .elementor-widget-container {
    padding: 0 300px;
}
.elementor-7 .elementor-element.elementor-element-17e89612 .elementor-spacer-inner {
    height: 10px;
}
.elementor-7 .elementor-element.elementor-element-3db64f39 > .elementor-element-populated {
    background-color: #075aae;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0 20px 0 0;
    padding: 60px 40px;
}
.elementor-7 .elementor-element.elementor-element-3db64f39 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-1fbca7c7 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(255,255,255,0.47);
    width: 50px;
}
.elementor-7 .elementor-element.elementor-element-1fbca7c7 .elementor-divider {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.elementor-7 .elementor-element.elementor-element-a17be1d {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-a17be1d.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-6cdd5a98 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-6cdd5a98 {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-6de43b56 .elementor-button,
.elementor-7 .elementor-element.elementor-element-6de43b56 a.elementor-button {
    color: #ffffff;
    background-color: rgba(7,90,174,0);
    border-radius: 0 0 0 0;
    padding: 20px 30px;
}
.elementor-7 .elementor-element.elementor-element-6de43b56 .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-3019c419 > .elementor-element-populated {
    background-color: #075aae;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0 10px;
    padding: 60px 40px;
}
.elementor-7 .elementor-element.elementor-element-3019c419 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-161e9021 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(255,255,255,0.47);
    width: 50px;
}
.elementor-7 .elementor-element.elementor-element-161e9021 .elementor-divider {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.elementor-7 .elementor-element.elementor-element-3c0e90a3 {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-3c0e90a3.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-7a774d57 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-7a774d57 {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-684bd6ba .elementor-button,
.elementor-7 .elementor-element.elementor-element-684bd6ba a.elementor-button {
    color: #ffffff;
    background-color: rgba(7,90,174,0);
    border-radius: 0 0 0 0;
    padding: 20px 30px;
}
.elementor-7 .elementor-element.elementor-element-684bd6ba .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-708da7c3 > .elementor-element-populated {
    background-color: #075aae;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0 0 0 20px;
    padding: 60px 40px;
}
.elementor-7 .elementor-element.elementor-element-708da7c3 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-198adc35 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(255,255,255,0.47);
    width: 50px;
}
.elementor-7 .elementor-element.elementor-element-198adc35 .elementor-divider {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.elementor-7 .elementor-element.elementor-element-32108691 {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-32108691.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-364a165b .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-364a165b {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-33a6321b .elementor-button,
.elementor-7 .elementor-element.elementor-element-33a6321b a.elementor-button {
    color: #ffffff;
    background-color: rgba(7,90,174,0);
    border-radius: 0 0 0 0;
    padding: 20px 30px;
}
.elementor-7 .elementor-element.elementor-element-33a6321b .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-14f01b4 > .elementor-element-populated {
    background-color: #f3f8fb;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 15px 0 0;
    padding: 60px 40px;
}
.elementor-7 .elementor-element.elementor-element-14f01b4 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-1c58bf66 {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-1c58bf66.elementor-widget-heading .elementor-heading-title {
    color: #075aae;
}
.elementor-7 .elementor-element.elementor-element-af3cef9 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-af3cef9 {
    color: #646e80;
}
.elementor-7 .elementor-element.elementor-element-19fc870f .elementor-button,
.elementor-7 .elementor-element.elementor-element-19fc870f a.elementor-button {
    color: #075aae;
    background-color: #fbf8f9;
    border-radius: 0 0 0 0;
    padding: 0 0 10px;
}
.elementor-7 .elementor-element.elementor-element-19fc870f .elementor-button {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #075aae;
}
.elementor-7 .elementor-element.elementor-element-74d1cbf6 > .elementor-element-populated {
    background-color: #f3f8fb;
    background-image: url("https://websitedemos.net/coach02/wp-content/uploads/sites/171/2018/02/icon-03-free-img.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 0 0 15px;
    padding: 0 50px 0 40px;
}
.elementor-7 .elementor-element.elementor-element-74d1cbf6 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-374335b6 .elementor-spacer-inner {
    height: 50px;
}
.elementor-7 .elementor-element.elementor-element-6d09fa65 > .elementor-element-populated {
    background-color: #f3f8fb;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 30px 0 0;
    padding: 70px 50px 0 40px;
}
.elementor-7 .elementor-element.elementor-element-6d09fa65 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-557c521c {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-557c521c.elementor-widget-heading .elementor-heading-title {
    color: #075aae;
}
.elementor-7 .elementor-element.elementor-element-53720b41 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-53720b41 {
    color: #595959;
}
.elementor-7 .elementor-element.elementor-element-64124112 .elementor-button,
.elementor-7 .elementor-element.elementor-element-64124112 a.elementor-button {
    color: #075aae;
    background-color: #fbf8f9;
    border-radius: 0 0 0 0;
    padding: 0 0 10px;
}
.elementor-7 .elementor-element.elementor-element-64124112 .elementor-button {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #075aae;
}
.elementor-7 .elementor-element.elementor-element-440e1059 .elementor-spacer-inner {
    height: 80px;
}
.elementor-7 .elementor-element.elementor-element-448adc4c {
    background-color: rgba(224,26,79,0);
    background-image: url("https://websitedemos.net/coach02/wp-content/uploads/sites/171/2018/02/testimonials-free-img.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-448adc4c > .elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(7,90,174,0) 0%, #075aae 80%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-4a105885 .elementor-spacer-inner {
    height: 150px;
}
.elementor-7 .elementor-element.elementor-element-3d561567 {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-3d561567.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-3d561567 > .elementor-widget-container {
    margin: 0;
    padding: 0 0 20px;
}
.elementor-7 .elementor-element.elementor-element-59092384 > .elementor-widget-container {
    margin: 0 20px 0 0;
}
.elementor-7 .elementor-element.elementor-element-2ce67e93 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(255,255,255,0.53);
    width: 50px;
}
.elementor-7 .elementor-element.elementor-element-2ce67e93 .elementor-divider {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.elementor-7 .elementor-element.elementor-element-61af94dd {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-61af94dd.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-b18d644 .elementor-spacer-inner {
    height: 150px;
}
.elementor-7 .elementor-element.elementor-element-2fd4d538 {
    background-color: #fbf8f9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-2fd4d538 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-3efb0d48 .elementor-spacer-inner {
    height: 80px;
}
.elementor-7 .elementor-element.elementor-element-6c17e84c > .elementor-element-populated {
    background-color: #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 50px 0;
    padding: 60px;
}
.elementor-7 .elementor-element.elementor-element-6c17e84c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-6c21db71 {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-6c21db71.elementor-widget-heading .elementor-heading-title {
    color: #075aae;
}
.elementor-7 .elementor-element.elementor-element-34a70654 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-34a70654 {
    color: #595959;
}
.elementor-7 .elementor-element.elementor-element-557860f8 .elementor-text-editor {
    text-align: left;
}
.elementor-7 .elementor-element.elementor-element-557860f8 {
    color: #595959;
}
.elementor-7 .elementor-element.elementor-element-4ce08bf6 .elementor-button,
.elementor-7 .elementor-element.elementor-element-4ce08bf6 a.elementor-button {
    color: #075aae;
    background-color: rgba(255,255,255,0);
    border-radius: 0 0 0 0;
    padding: 20px 40px;
}
.elementor-7 .elementor-element.elementor-element-4ce08bf6 .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #075aae;
}
.elementor-7 .elementor-element.elementor-element-4b78a4d2 > .elementor-element-populated {
    background-image: url("https://websitedemos.net/coach02/wp-content/uploads/sites/171/2018/02/story-free-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-4b78a4d2 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-72673e76 .elementor-spacer-inner {
    height: 650px;
}
.elementor-7 .elementor-element.elementor-element-1735731c .elementor-spacer-inner {
    height: 80px;
}
.elementor-7 .elementor-element.elementor-element-11468c70 {
    background-color: #075aae;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7 .elementor-element.elementor-element-11468c70 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7 .elementor-element.elementor-element-268e621e .elementor-spacer-inner {
    height: 100px;
}
.elementor-7 .elementor-element.elementor-element-26c93627 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(255,255,255,0.48);
    width: 50px;
}
.elementor-7 .elementor-element.elementor-element-26c93627 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-7 .elementor-element.elementor-element-336334c7 {
    text-align: center;
}
.elementor-7 .elementor-element.elementor-element-336334c7.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}
.elementor-7 .elementor-element.elementor-element-336334c7 > .elementor-widget-container {
    margin: 0 200px;
    padding: 0 0 40px;
}
.elementor-7 .elementor-element.elementor-element-620b7e15 .elementor-button,
.elementor-7 .elementor-element.elementor-element-620b7e15 a.elementor-button {
    color: #000000;
    background-color: #ffffff;
    border-radius: 0 0 0 0;
    padding: 20px 40px;
}
.elementor-7 .elementor-element.elementor-element-fcdcd95 .elementor-spacer-inner {
    height: 100px;
}
@media(max-width:1024px) {
    .elementor-7 .elementor-element.elementor-element-66f380d .elementor-spacer-inner {
        height: 130px;
    }
    .elementor-7 .elementor-element.elementor-element-74aef9a4 > .elementor-widget-container {
        margin: 0;
        padding: 0;
    }
    .elementor-7 .elementor-element.elementor-element-4b41ce4 > .elementor-widget-container {
        padding: 0;
    }
    .elementor-7 .elementor-element.elementor-element-f1107c1 .elementor-spacer-inner {
        height: 130px;
    }
    .elementor-7 .elementor-element.elementor-element-2051a02d .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-7 .elementor-element.elementor-element-1b27b863 > .elementor-widget-container {
        margin: 0 100px;
        padding: 0;
    }
    .elementor-7 .elementor-element.elementor-element-17e89612 .elementor-spacer-inner {
        height: 1px;
    }
    .elementor-7 .elementor-element.elementor-element-3db64f39 > .elementor-element-populated {
        margin: 0 10px 0 0;
    }
    .elementor-7 .elementor-element.elementor-element-3019c419 > .elementor-element-populated {
        margin: 0 5px;
    }
    .elementor-7 .elementor-element.elementor-element-708da7c3 > .elementor-element-populated {
        margin: 0 0 0 10px;
    }
    .elementor-7 .elementor-element.elementor-element-25fc7ce6 {
        margin-top: -15px;
        margin-bottom: 0;
    }
    .elementor-7 .elementor-element.elementor-element-74d1cbf6 > .elementor-element-populated {
        margin: 30px 0 0;
    }
    .elementor-7 .elementor-element.elementor-element-6d09fa65 > .elementor-element-populated {
        padding: 70px 30px 0 10px;
    }
    .elementor-7 .elementor-element.elementor-element-440e1059 .elementor-spacer-inner {
        height: 1px;
    }
    .elementor-7 .elementor-element.elementor-element-4a105885 .elementor-spacer-inner {
        height: 100px;
    }
    .elementor-7 .elementor-element.elementor-element-b18d644 .elementor-spacer-inner {
        height: 100px;
    }
    .elementor-7 .elementor-element.elementor-element-3efb0d48 .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-7 .elementor-element.elementor-element-1735731c .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-7 .elementor-element.elementor-element-268e621e .elementor-spacer-inner {
        height: 100px;
    }
    .elementor-7 .elementor-element.elementor-element-336334c7 > .elementor-widget-container {
        margin: 0 100px;
    }
    .elementor-7 .elementor-element.elementor-element-fcdcd95 .elementor-spacer-inner {
        height: 100px;
    }
}
@media(max-width:767px) {
    .elementor-7 .elementor-element.elementor-element-66f380d .elementor-spacer-inner {
        height: 130px;
    }
    .elementor-7 .elementor-element.elementor-element-04d5541 {
        width: 49%;
    }
    .elementor-7 .elementor-element.elementor-element-454ea3d7 > .elementor-widget-container {
        padding: 0;
    }
    .elementor-7 .elementor-element.elementor-element-7f53145 {
        width: 50%;
    }
    .elementor-7 .elementor-element.elementor-element-f1107c1 .elementor-spacer-inner {
        height: 70px;
    }
    .elementor-7 .elementor-element.elementor-element-2051a02d .elementor-spacer-inner {
        height: 30px;
    }
    .elementor-7 .elementor-element.elementor-element-1b27b863 > .elementor-widget-container {
        margin: 0;
    }
    .elementor-7 .elementor-element.elementor-element-17e89612 .elementor-spacer-inner {
        height: 1px;
    }
    .elementor-7 .elementor-element.elementor-element-3db64f39 > .elementor-element-populated {
        margin: 0 0 15px;
    }
    .elementor-7 .elementor-element.elementor-element-3019c419 > .elementor-element-populated {
        margin: 0 0 15px;
    }
    .elementor-7 .elementor-element.elementor-element-708da7c3 > .elementor-element-populated {
        margin: 0;
    }
    .elementor-7 .elementor-element.elementor-element-14f01b4 > .elementor-element-populated {
        margin: 15px 0 0;
    }
    .elementor-7 .elementor-element.elementor-element-74d1cbf6 > .elementor-element-populated {
        margin: 0;
        padding: 0;
    }
    .elementor-7 .elementor-element.elementor-element-374335b6 .elementor-spacer-inner {
        height: 320px;
    }
    .elementor-7 .elementor-element.elementor-element-6d09fa65 > .elementor-element-populated {
        padding: 60px 40px 0;
    }
    .elementor-7 .elementor-element.elementor-element-4a105885 .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-7 .elementor-element.elementor-element-45203cdf > .elementor-element-populated {
        margin: 0 0 0 25px;
    }
    .elementor-7 .elementor-element.elementor-element-b18d644 .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-7 .elementor-element.elementor-element-3efb0d48 .elementor-spacer-inner {
        height: 1px;
    }
    .elementor-7 .elementor-element.elementor-element-6c17e84c > .elementor-element-populated {
        margin: 0;
        padding: 60px 40px;
    }
    .elementor-7 .elementor-element.elementor-element-1735731c .elementor-spacer-inner {
        height: 1px;
    }
    .elementor-7 .elementor-element.elementor-element-268e621e .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-7 .elementor-element.elementor-element-336334c7 > .elementor-widget-container {
        margin: 0;
    }
    .elementor-7 .elementor-element.elementor-element-fcdcd95 .elementor-spacer-inner {
        height: 50px;
    }
}
@media(min-width:768px) {
    .elementor-7 .elementor-element.elementor-element-aac1b78 {
        width: 55.5%;
    }
    .elementor-7 .elementor-element.elementor-element-04d5541 {
        width: 26.258%;
    }
    .elementor-7 .elementor-element.elementor-element-7f53145 {
        width: 73.742%;
    }
    .elementor-7 .elementor-element.elementor-element-ad83d9a {
        width: 44.5%;
    }
    .elementor-7 .elementor-element.elementor-element-74d1cbf6 {
        width: 18.034%;
    }
    .elementor-7 .elementor-element.elementor-element-6d09fa65 {
        width: 48.63%;
    }
    .elementor-7 .elementor-element.elementor-element-6c17e84c {
        width: 60%;
    }
    .elementor-7 .elementor-element.elementor-element-4b78a4d2 {
        width: 40%;
    }
}
@media(max-width:1024px) and (min-width:768px) {
    .elementor-7 .elementor-element.elementor-element-04d5541 {
        width: 42%;
    }
    .elementor-7 .elementor-element.elementor-element-7f53145 {
        width: 42%;
    }
    .elementor-7 .elementor-element.elementor-element-14f01b4 {
        width: 34%;
    }
    .elementor-7 .elementor-element.elementor-element-74d1cbf6 {
        width: 23%;
    }
    .elementor-7 .elementor-element.elementor-element-6d09fa65 {
        width: 43%;
    }
}
@media(min-width:1025px) {
    .elementor-7 .elementor-element.elementor-element-812aa30 {
        background-attachment: scroll;
    }
    .elementor-7 .elementor-element.elementor-element-74d1cbf6 > .elementor-element-populated {
        background-attachment: scroll;
    }
    .elementor-7 .elementor-element.elementor-element-448adc4c {
        background-attachment: scroll;
    }
    .elementor-7 .elementor-element.elementor-element-4b78a4d2 > .elementor-element-populated {
        background-attachment: scroll;
    }
}