.main-header-bar-wrap .ast-search-box.header-cover {
    z-index: 7;
}
.ast-below-header-wrap .ast-search-box.header-cover #close,
.ast-below-header-wrap .ast-search-box.header-cover .search-field {
    font-size: 1.8em;
}
.ast-below-header-wrap .ast-search-box.header-cover .search-submit {
    font-size: 1.5em;
}
.ast-search-box.full-screen,
.ast-search-box.header-cover {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    width: 100%;
    height: 100%;
}
.ast-search-box.full-screen .search-field,
.ast-search-box.header-cover .search-field {
    background: 0 0;
    border: 0;
    color: #fafafa;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 0;
}
.ast-search-box.full-screen .search-submit,
.ast-search-box.header-cover .search-submit {
    background: 0 0;
    padding: 0;
    color: #9e9e9e;
    -webkit-transition: all 0.7s ease-In;
    transition: all 0.7s ease-In;
    outline: 0;
    border: 0;
    vertical-align: middle;
}
.ast-search-box.full-screen .ast-search-wrapper,
.ast-search-box.header-cover .ast-search-wrapper {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ast-search-box.full-screen .ast-search-wrapper .search-form,
.ast-search-box.header-cover .ast-search-wrapper .search-form {
    line-height: normal;
}
.ast-search-box.full-screen #close,
.ast-search-box.header-cover #close {
    color: #fafafa;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    font-size: 2em;
    cursor: pointer;
    z-index: 9;
    font-weight: 400;
}
.ast-search-box.full-screen #close::before,
.ast-search-box.header-cover #close::before {
    font-family: Astra;
    content: "\e5cd";
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
}
.ast-search-box.full-screen .search-field::-webkit-input-placeholder,
.ast-search-box.header-cover .search-field::-webkit-input-placeholder {
    color: #fafafa;
}
.ast-search-box.full-screen .search-field:-moz-placeholder,
.ast-search-box.header-cover .search-field:-moz-placeholder {
    color: #fafafa;
}
.ast-search-box.full-screen .search-field::-moz-placeholder,
.ast-search-box.header-cover .search-field::-moz-placeholder {
    color: #fafafa;
}
.ast-search-box.full-screen .search-field:-ms-input-placeholder,
.ast-search-box.header-cover .search-field:-ms-input-placeholder {
    color: #fafafa;
}
.ast-search-box.header-cover {
    position: absolute;
    background: rgba(25,25,25,.94);
    top: 0;
    z-index: 10;
}
.ast-search-box.header-cover .search-field {
    font-size: 2em;
    line-height: 2;
    width: 100%;
}
.ast-search-box.header-cover .ast-container {
    position: relative;
}
.ast-search-box.header-cover .close,
.ast-search-box.header-cover .search-submit,
.ast-search-box.header-cover .search-text-wrap {
    display: inline-block;
}
.ast-search-box.header-cover .search-text-wrap {
    width: -webkit-calc(100% - 2.5em);
    width: calc(100% - 2.5em);
    vertical-align: middle;
}
.ast-search-box.header-cover .search-submit {
    font-size: 1.7em;
    margin-right: 2em;
}
.ast-search-box.header-cover #close {
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ast-search-box.full-screen {
    position: fixed;
    background: rgba(25,25,25,.94);
    top: 0;
    left: 0;
    z-index: 999;
}
.ast-search-box.full-screen .ast-search-wrapper .large-search-text {
    text-align: center;
    color: #e2e2e2;
    font-size: 1.5em;
    font-weight: 400;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ast-search-box.full-screen .ast-search-wrapper fieldset {
    border: 0;
    padding: 2.5em 0 1em;
    border-bottom: 2px solid #9e9e9e;
}
.ast-search-box.full-screen .ast-search-wrapper .search-field {
    font-size: 2.6em;
    padding-left: 30px;
    line-height: 1.7;
    width: 90%;
    width: -webkit-calc(100% - 1.5em);
    width: calc(100% - 1.5em);
    vertical-align: middle;
    text-align: center;
}
.ast-search-box.full-screen .ast-search-wrapper .search-form {
    width: 70%;
    margin: 20px auto;
}
.ast-search-box.full-screen .ast-search-wrapper .search-submit {
    font-size: 2em;
}
.ast-search-box.full-screen #close {
    position: absolute;
    color: #fafafa;
    right: 1em;
    line-height: 1;
    cursor: pointer;
    z-index: 9;
    font-weight: 400;
    font-size: 2em;
    top: 1.5em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ast-search-box.full-screen ::-webkit-input-placeholder {
    opacity: 0;
}
.ast-search-box.full-screen ::-moz-placeholder {
    opacity: 0;
}
.ast-search-box.full-screen :-ms-input-placeholder {
    opacity: 0;
}
.ast-search-box.full-screen :-moz-placeholder {
    opacity: 0;
}
@media (max-width:420px) {
    .ast-search-box.full-screen ::-webkit-input-placeholder {
        opacity: 1;
    }
    .ast-search-box.full-screen ::-moz-placeholder {
        opacity: 1;
    }
    .ast-search-box.full-screen :-ms-input-placeholder {
        opacity: 1;
    }
    .ast-search-box.full-screen :-moz-placeholder {
        opacity: 1;
    }
}
.site-header .ast-inline-search.ast-search-menu-icon .search-form {
    padding-left: 0;
    padding-right: 2em;
}
.site-header .ast-inline-search.ast-search-menu-icon .search-field {
    width: auto;
    padding-left: 1em;
    padding-right: 0;
}
.ast-inline-search.ast-search-menu-icon {
    visibility: visible;
    opacity: 1;
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 0;
    right: 0;
}
.ast-inline-search.ast-search-menu-icon .search-submit {
    display: block;
    background: 0 0;
    border: none;
    position: absolute;
    height: 100%;
    right: 0.25em;
    padding: 0;
    top: 0;
    font-size: 1.3em;
    color: #757575;
}
.ast-header-break-point .ast-inline-search.ast-search-menu-icon .search-form {
    padding: 0;
}
.ast-header-break-point .site-header .ast-inline-search.ast-search-menu-icon .search-field {
    width: 100%;
    padding-right: 2em;
}
.ast-header-custom-item-inside.ast-desktop .main-header-menu .ast-search-menu-icon.full-screen,
.ast-header-custom-item-inside.ast-desktop .main-header-menu .ast-search-menu-icon.header-cover {
    display: none;
}
.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 .ast-search-menu-icon .search-form {
    right: -1em;
    left: auto;
    padding-left: 0;
    padding-right: 3em;
}
.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 .search-field {
    padding-right: 0;
    padding-left: 1em;
}
.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 .ast-search-menu-icon .search-form {
    left: -1em;
    right: auto;
    padding-right: 0;
    padding-left: 3em;
}
.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 .search-field {
    padding-left: 0;
    padding-right: 1em;
}
.ast-header-break-point .ast-above-header .ast-above-header-section-1 .ast-inline-search.ast-search-menu-icon .search-field {
    padding-right: 0;
}
.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-2 .ast-search-menu-icon .search-form {
    padding-left: 0;
    left: auto;
    padding-right: 2em;
}
.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-2 .ast-search-menu-icon.slide-search .search-form {
    left: -1em;
    padding-left: 2em;
}
.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-1 .search-field {
    padding-right: 0;
}
.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .search-field {
    padding-right: 0;
    padding-left: 1em;
}
.ast-header-break-point .ast-above-header-mobile-stack .ast-above-header .ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form {
    right: auto;
    padding-right: 2em;
}
.ast-header-break-point .ast-swap-below-header-sections .ast-below-header .below-header-section-2 .ast-search-menu-icon.ast-inline-search .search-form {
    left: 0;
    padding-left: 0;
    padding-right: 2em;
}
.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 .ast-search-menu-icon .search-form {
    right: -1em;
    left: auto;
    padding-left: 0;
    padding-right: 3em;
}
.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 .search-field {
    padding-right: 0;
    padding-left: 1em;
}
.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 .ast-search-menu-icon .search-form {
    left: -1em;
    right: auto;
    padding-right: 0;
    padding-left: 3em;
}
.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 .search-field {
    padding-left: 0;
    padding-right: 1em;
}
.ast-header-break-point .ast-below-header .below-header-section-1 .ast-inline-search.ast-search-menu-icon .search-field {
    padding-right: 0;
}
.ast-header-break-point .ast-swap-below-header-sections.site-header .ast-below-header .ast-inline-search.ast-search-menu-icon .search-field {
    padding-left: 1em;
    padding-right: 0;
}
.ast-header-break-point .ast-swap-below-header-sections .ast-below-header .below-header-section-2 .ast-search-menu-icon .search-form {
    left: -1em;
    padding-left: 3em;
    padding-right: 1em;
}
.ast-below-header-mobile-stack .ast-below-header .below-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form {
    right: auto;
    padding-right: 2em;
}
.iphone.full-screen,
.ipod.full-screen {
    position: fixed!important;
}
@media (max-width:992px) {
    .ast-above-header-mobile-stack .ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form {
        left: auto;
    }
    .ast-below-header-mobile-stack .below-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form {
        left: auto;
    }
}
@media (max-width:544px) {
    .ast-search-box.full-screen .ast-search-wrapper .large-search-text {
        display: none;
    }
    .ast-search-box.full-screen .ast-search-wrapper .search-field,
    .ast-search-box.full-screen .ast-search-wrapper .search-submit {
        font-size: 1.6em;
    }
}