.ast-page-builder-template .ast-article-post {
    margin-bottom: 2.5em;
}
.ast-featured-post {
    float: none;
}
.ast-separate-container .ast-separate-posts.ast-article-post {
    margin-bottom: 2em;
}
.ast-animate-hidden {
    visibility: hidden;
    opacity: 0;
}
.ast-animate-display {
    visibility: visible;
    opacity: 1;
}
.ast-no-thumb .ast-date-meta .posted-on {
    margin-bottom: 1.5em;
}
.ast-date-meta.circle .posted-on {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.has-post-thumbnail .ast-date-meta.circle .posted-on {
    margin: 1em;
}
.ast-single-post .entry-header.ast-no-title.ast-no-thumbnail {
    margin-bottom: 2em;
}
@media (min-width:769px) {
    .ast-separate-container.ast-blog-grid-2 .ast-archive-description,
    .ast-separate-container.ast-blog-grid-3 .ast-archive-description,
    .ast-separate-container.ast-blog-grid-4 .ast-archive-description {
        margin-bottom: 1.33333em;
    }
}
.ast-separate-container .ast-grid-1 .blog-layout-1 {
    padding: 0;
}
.ast-separate-container .ast-grid-1 .blog-layout-2,
.ast-separate-container .ast-grid-1 .blog-layout-3 {
    padding: 0;
    border-bottom: 0;
}
.ast-separate-container .ast-grid-2 .ast-article-post,
.ast-separate-container .ast-grid-3 .ast-article-post,
.ast-separate-container .ast-grid-4 .ast-article-post {
    background: 0 0;
}
@media (min-width:769px) {
    .ast-separate-container .ast-grid-2 .ast-article-post.ast-separate-posts,
    .ast-separate-container .ast-grid-3 .ast-article-post.ast-separate-posts,
    .ast-separate-container .ast-grid-4 .ast-article-post.ast-separate-posts {
        border-bottom: 0;
    }
}
@media (max-width:768px) {
    .ast-separate-container .ast-grid-2 .ast-article-post,
    .ast-separate-container .ast-grid-3 .ast-article-post,
    .ast-separate-container .ast-grid-4 .ast-article-post {
        width: 100%;
    }
}
.ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-2,
.ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-3,
.ast-separate-container .ast-grid-3 .ast-article-post .blog-layout-2,
.ast-separate-container .ast-grid-3 .ast-article-post .blog-layout-3,
.ast-separate-container .ast-grid-4 .ast-article-post .blog-layout-2,
.ast-separate-container .ast-grid-4 .ast-article-post .blog-layout-3 {
    border-bottom: 0;
}
.ast-separate-container .blog-layout-1,
.ast-separate-container .blog-layout-2,
.ast-separate-container .blog-layout-3 {
    padding: 2.66666em;
    background: #fff;
}
@media (max-width:768px) {
    .ast-separate-container .blog-layout-1,
    .ast-separate-container .blog-layout-3 {
        display: block;
    }
}
.ast-separate-container .ast-grid-2 .blog-layout-1,
.ast-separate-container .ast-grid-2 .blog-layout-2,
.ast-separate-container .ast-grid-2 .blog-layout-3,
.ast-separate-container .ast-grid-3 .blog-layout-1,
.ast-separate-container .ast-grid-3 .blog-layout-2,
.ast-separate-container .ast-grid-3 .blog-layout-3,
.ast-separate-container .ast-grid-4 .blog-layout-1,
.ast-separate-container .ast-grid-4 .blog-layout-2,
.ast-separate-container .ast-grid-4 .blog-layout-3 {
    padding: 1.5em;
}
@media (max-width:1200px) {
    .ast-separate-container .ast-grid-2 .ast-article-post:nth-child(2n+0),
    .ast-separate-container .ast-grid-2 .ast-article-post:nth-child(2n+1),
    .ast-separate-container .ast-grid-3 .ast-article-post:nth-child(2n+0),
    .ast-separate-container .ast-grid-3 .ast-article-post:nth-child(2n+1),
    .ast-separate-container .ast-grid-4 .ast-article-post:nth-child(2n+0),
    .ast-separate-container .ast-grid-4 .ast-article-post:nth-child(2n+1) {
        padding: 0;
    }
    .ast-separate-container .blog-layout-1,
    .ast-separate-container .blog-layout-2,
    .ast-separate-container .blog-layout-3 {
        padding: 1.5em;
    }
}
@media (max-width:544px) {
    .ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-1,
    .ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-2,
    .ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-3 {
        padding: 1.33333em 1em;
    }
    .ast-separate-container .ast-grid-3 .ast-article-post .blog-layout-1,
    .ast-separate-container .ast-grid-4 .ast-article-post .blog-layout-1 {
        padding: 1.33333em 1em;
    }
}
@media (max-width:768px) {
    .ast-page-builder-template .ast-grid-2 .ast-article-post,
    .ast-page-builder-template .ast-grid-3 .ast-article-post,
    .ast-page-builder-template .ast-grid-4 .ast-article-post,
    .ast-plain-container .ast-grid-2 .ast-article-post,
    .ast-plain-container .ast-grid-3 .ast-article-post,
    .ast-plain-container .ast-grid-4 .ast-article-post {
        width: 100%;
    }
}
@media (min-width:769px) {
    .ast-separate-container .ast-grid-2 > .site-main > .ast-row,
    .ast-separate-container .ast-grid-3 > .site-main > .ast-row,
    .ast-separate-container .ast-grid-4 > .site-main > .ast-row {
        margin-left: -1em;
        margin-right: -1em;
        -js-display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -moz-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .ast-separate-container .ast-grid-2 > .site-main > .ast-row:after,
    .ast-separate-container .ast-grid-2 > .site-main > .ast-row:before,
    .ast-separate-container .ast-grid-3 > .site-main > .ast-row:after,
    .ast-separate-container .ast-grid-3 > .site-main > .ast-row:before,
    .ast-separate-container .ast-grid-4 > .site-main > .ast-row:after,
    .ast-separate-container .ast-grid-4 > .site-main > .ast-row:before {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        width: 0;
    }
    .ast-separate-container .ast-grid-2 .ast-article-post,
    .ast-separate-container .ast-grid-3 .ast-article-post,
    .ast-separate-container .ast-grid-4 .ast-article-post {
        -js-display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
    }
    .ast-separate-container .ast-grid-2 .ast-article-post.ast-separate-posts:nth-child(2n+0),
    .ast-separate-container .ast-grid-2 .ast-article-post.ast-separate-posts:nth-child(2n+1),
    .ast-separate-container .ast-grid-3 .ast-article-post.ast-separate-posts:nth-child(2n+0),
    .ast-separate-container .ast-grid-3 .ast-article-post.ast-separate-posts:nth-child(2n+1),
    .ast-separate-container .ast-grid-4 .ast-article-post.ast-separate-posts:nth-child(2n+0),
    .ast-separate-container .ast-grid-4 .ast-article-post.ast-separate-posts:nth-child(2n+1) {
        padding: 0 1em;
    }
    .ast-page-builder-template .ast-grid-2 > .site-main > .ast-row,
    .ast-page-builder-template .ast-grid-3 > .site-main > .ast-row,
    .ast-page-builder-template .ast-grid-4 > .site-main > .ast-row,
    .ast-plain-container .ast-grid-2 > .site-main > .ast-row,
    .ast-plain-container .ast-grid-3 > .site-main > .ast-row,
    .ast-plain-container .ast-grid-4 > .site-main > .ast-row {
        margin-left: -1em;
        margin-right: -1em;
        -js-display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -moz-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .ast-page-builder-template .ast-grid-2 > .site-main > .ast-row:after,
    .ast-page-builder-template .ast-grid-2 > .site-main > .ast-row:before,
    .ast-page-builder-template .ast-grid-3 > .site-main > .ast-row:after,
    .ast-page-builder-template .ast-grid-3 > .site-main > .ast-row:before,
    .ast-page-builder-template .ast-grid-4 > .site-main > .ast-row:after,
    .ast-page-builder-template .ast-grid-4 > .site-main > .ast-row:before,
    .ast-plain-container .ast-grid-2 > .site-main > .ast-row:after,
    .ast-plain-container .ast-grid-2 > .site-main > .ast-row:before,
    .ast-plain-container .ast-grid-3 > .site-main > .ast-row:after,
    .ast-plain-container .ast-grid-3 > .site-main > .ast-row:before,
    .ast-plain-container .ast-grid-4 > .site-main > .ast-row:after,
    .ast-plain-container .ast-grid-4 > .site-main > .ast-row:before {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        width: 0;
    }
    .ast-page-builder-template .ast-grid-2 .ast-article-post,
    .ast-page-builder-template .ast-grid-3 .ast-article-post,
    .ast-page-builder-template .ast-grid-4 .ast-article-post,
    .ast-plain-container .ast-grid-2 .ast-article-post,
    .ast-plain-container .ast-grid-3 .ast-article-post,
    .ast-plain-container .ast-grid-4 .ast-article-post {
        -js-display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    .ast-page-builder-template .ast-grid-2 .ast-article-post:last-child,
    .ast-page-builder-template .ast-grid-3 .ast-article-post:last-child,
    .ast-page-builder-template .ast-grid-4 .ast-article-post:last-child,
    .ast-plain-container .ast-grid-2 .ast-article-post:last-child,
    .ast-plain-container .ast-grid-3 .ast-article-post:last-child,
    .ast-plain-container .ast-grid-4 .ast-article-post:last-child {
        margin-bottom: 2.5em;
    }
}
.ast-page-builder-template .ast-article-post .entry-header {
    margin: auto auto 1em;
    padding: 0;
}
.ast-article-post .ast-post-format-audio.ast-embeded-audio .ast-date-meta .posted-on {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
.ast-page-builder-template.single .post-navigation {
    margin-top: 2em;
}
hr.post-divider {
    height: 0;
    margin: 0;
}
hr.ast-single-previous-hr {
    height: 0;
    margin-top: 2em;
}
.ast-show-comments-data {
    padding: 2em 6.67em;
}
.ast-show-comments-data .ast-show-comments {
    cursor: pointer;
}
.ast-show-comments-data .ast-show-comments,
.ast-show-comments-data .ast-show-comments-count {
    max-width: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ast-show-comments-data .ast-show-comments-count {
    margin-bottom: 2em;
}
.ast-pagination-circle .ast-pagination .page-numbers,
.ast-pagination-square .ast-pagination .page-numbers {
    border-style: solid;
    border-width: 1px;
    line-height: 2.33333em;
}
.ast-pagination-circle .ast-pagination .page-numbers {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.ast-pagination-circle .ast-pagination .next.page-numbers,
.ast-pagination-circle .ast-pagination .prev.page-numbers {
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
#content:before {
    content: "768";
    position: absolute;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
@media all and (max-width:768px) {
    #content:before {
        content: "";
    }
}
.ast-pagination-infinite {
    text-align: center;
    margin: 2.5em 0 0;
}
.ast-page-builder-template .ast-pagination-infinite {
    margin: 2.5em 0;
}
.ast-load-more {
    cursor: pointer;
    display: none;
    border: 2px solid #eaeaea;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #000;
}
.ast-load-more.active {
    display: inline-block;
    padding: 0 1.5em;
    line-height: 3em;
}
.ast-load-more.no-more:hover {
    border-color: #eaeaea;
    color: #000;
}
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}
.infinity-end.neverending .site-footer {
    display: block;
}
.ast-load-more.no-more:hover {
    background-color: inherit;
}
.no-more {
    cursor: default;
}
.ast-loader {
    display: none;
    margin: 0 auto;
    min-height: 58px;
    line-height: 58px;
    width: 70px;
    text-align: center;
}
.ast-loader > div {
    width: 18px;
    height: 18px;
    background-color: #0085ba;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.ast-loader .ast-loader-1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}
.ast-loader .ast-loader-2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}