body.ast-padded-layout::after,
body.ast-padded-layout::before {
    background: inherit;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}
body.ast-padded-layout::after {
    bottom: 0;
}
body.ast-padded-layout {
    background-attachment: fixed;
}
body.ast-padded-layout::before {
    top: 0;
}
@media (min-width:44.375em) {
    body.ast-padded-layout.admin-bar::before {
        top: 46px;
    }
}
@media (min-width:48.9375em) {
    body.ast-padded-layout.admin-bar::before {
        top: 32px;
    }
}
.elementor-page.ast-box-layout #page,
.elementor-page.ast-padded-layout #page {
    overflow: hidden;
}
.siteorigin-panels.ast-box-layout #page,
.siteorigin-panels.ast-padded-layout #page {
    overflow: hidden;
}
.ast-separate-container.ast-box-layout #content .ast-container {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width:768px) {
    .ast-separate-container.ast-box-layout #content .ast-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:544px) {
    .ast-separate-container.ast-box-layout #content .ast-container {
        padding-left: 0.54em;
        padding-right: 0.54em;
    }
}
.js_active .ast-box-layout #page,
.js_active .ast-padded-layout #page {
    overflow: hidden;
}
.js_active .ast-box-layout.ast-page-builder-template .vc_row[data-vc-full-width],
.js_active .ast-padded-layout.ast-page-builder-template .vc_row[data-vc-full-width] {
    max-width: 100%;
    left: 0!important;
}