.ast-theme-transparent-header #masthead {
    position: absolute;
    left: 0;
    right: 0;
}
.ast-theme-transparent-header .main-header-bar,
.ast-theme-transparent-header.ast-header-break-point .main-header-bar {
    background: 0 0;
}
.fl-builder-edit .ast-theme-transparent-header #masthead,
body.elementor-editor-active.ast-theme-transparent-header #masthead,
body.vc_editor.ast-theme-transparent-header #masthead {
    z-index: 0;
}
.ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .ast-mobile-header-logo {
    display: none;
}
.ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo .custom-logo {
    display: inline-block;
}