.ast-header-break-point .ast-header-sections-navigation {
    border-top: 1px solid #eaeaea;
    background-color: #f9f9f9;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items li a,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items li a {
    padding: 0 20px;
    display: inline-block;
    width: 100%;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items .sub-menu li a,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items .sub-menu li a {
    padding-left: 30px;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items .sub-menu li a:before,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items .sub-menu li a:before {
    content: "\e900";
    font-family: Astra;
    font-size: 0.65em;
    text-decoration: inherit;
    display: inline-block;
    -webkit-transform: translate(0,-2px) rotateZ(270deg);
    -ms-transform: translate(0,-2px) rotate(270deg);
    transform: translate(0,-2px) rotateZ(270deg);
    margin-right: 5px;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items .sub-menu li li a,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items .sub-menu li li a {
    padding-left: 40px;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items .sub-menu li li li a,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items .sub-menu li li li a {
    padding-left: 50px;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items .sub-menu li li li li a,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items .sub-menu li li li li a {
    padding-left: 60px;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items > li:first-child,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items > li:first-child {
    border-top: 0;
}
.ast-header-break-point .ast-header-sections-navigation .ast-above-header-menu-items ul,
.ast-header-break-point .ast-header-sections-navigation .ast-below-header-menu-items ul {
    left: auto;
    right: auto;
}
.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.ast-fullscreen-menu-enable.ast-header-break-point .main-navigation ul.sub-menu li a {
    padding-left: 0;
}
.ast-fullscreen-menu-enable.ast-header-break-point .main-navigation ul.sub-menu li li a {
    padding-left: 0;
}
.ast-fullscreen-menu-enable.ast-header-break-point .main-navigation ul.sub-menu li li li a {
    padding-left: 0;
}
.ast-fullscreen-menu-enable.ast-header-break-point .main-navigation ul.sub-menu li li li li a {
    padding-left: 0;
}